﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
      <script src="/js/ie/respond.min.js"></script>
      <script src="/js/ie/html5.js"></script>
    <![endif]-->

    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <!-- header -->
    <header id="header" class="navbar bg bg-black">
        <a class="navbar-brand" href="/" style="padding:0px;">DHCD</a>
    </header>
    <!-- / header -->
    <section id="content">
        <div class="main padder">
            @RenderBody()
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>&copy; Vingroup JSC 2019</small><br><br>
                <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a>
            </p>
        </div>
    </footer>

    <!-- / footer -->
    <!-- app -->
    <script src="/js/app.js"></script>
    <script src="/js/app.plugin.js"></script>
    <!--Cookie-->
    <script src="/js/cookie/jquery.cookie.js"></script>
    <!--validate-->
    <script src="/js/validate/jquery.validate.min.js"></script>
</body>
</html>
