﻿@using VG.Common;
@{
    ViewBag.Title = "MasterDataPL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content" class="content-sidebar bg-white">
    <!-- .sidebar -->
    <aside class="sidebar bg-lighter sidebar-small">
        <div class="list-group list-normal m-b-none">
            <a href="/masterdata" class="list-group-item active"><i class="fa fa-fw fa-inbox"></i><span class="badge m-r">@ViewBag.CountPL</span> Công ty</a>
            <a href="#" class="list-group-item"><i class="fa fa-fw fa-user"></i><span class="badge m-r">1</span> Người dùng</a>
            <a href="#" class="list-group-item"><i class="fa fa-fw fa-bookmark-o"></i><span class="badge m-r">4</span> Template</a>
            <a href="#" class="list-group-item"><i class="fa fa-fw fa-pencil"></i> Tham số</a>
        </div>
    </aside>
    <!-- /.sidebar -->
    <!-- .sidebar -->
    <aside class="sidebar sidebar-large">
        <div class="padder header-bar bg clearfix">
            <div class="btn-group m-b m-t">
                <button type="button" class="btn btn-success btn-sm" onclick="Reset()"><i class="fa fa-plus"></i> Thêm công ty</button>
            </div>
        </div>
        <div class="list-group list-normal m-t-n-xmini scroll-y scrollbar" id="pnlstPL">
            @foreach (var item in Model)
            {
                <a class="list-group-item" href="javascript:SelectedPL(this,@item.PL_ID);">
                    @{ 
                        string cls = (item.PL_Status == 1) ? "text-success" : "text-muted";
                    }
                    <small class="pull-right @Html.Raw(cls)"><i class="fa fa-circle"></i></small>
                    <strong>@item.PL_DisplayName</strong>
                    <br><small>@item.PL_Name</small>
                </a>
            }
        </div>
    </aside>
    <!-- /.sidebar -->
    <!-- .main -->
    <section class="main">
        <div class="bg-primary clearfix padder m-b">
            <h3 class="m-b" id="lblActionType">Thêm mới công ty</h3>
        </div>

        <div class="text-small padder">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" data-validate="parsley" id="PLAction">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tên công ty viết tắt <i class="fa fa-star-o text-danger text"></i></label>
                            <div class="col-lg-8">
                                <input type="text" name="plName" id="plName" placeholder="Tên công ty viết tắt" data-required="true" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group m-b-mini">
                            <label class="col-lg-3 control-label">Tên giao dịch đầy đủ <i class="fa fa-star-o text-danger text"></i></label>
                            <div class="col-lg-8">
                                <input type="text" name="plFullname" id="plFullname" placeholder="Tên giao dịch đầy đủ tiếng Việt" data-required="true" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tên giao dịch đầy đủ - TA<i class="fa fa-star-o text-danger text"></i></label>
                            <div class="col-lg-8">
                                <input type="text" name="plFullnameEn" id="plFullnameEn" placeholder="Tên giao dịch đầy đủ tiếng Anh" data-required="true" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Trạng thái hoạt động</label>
                            <div class="checkbox col-lg-8">
                                <label class="checkbox-custom" style="margin-left:-2px;">
                                    <input type="checkbox" id="plStatus" name="plStatus" checked />
                                    <i class="fa fa-check-square-o"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="groupAdd">
                            <label class="col-lg-3 control-label"> </label>
                            <div class="col-lg-8">
                                <button type="button" class="btn btn-primary" onclick="DoAction(this,'add')">Thêm</button>
                            </div>
                        </div>
                        <div class="form-group" id="groupEdit" hidden="true">
                            <label class="col-lg-3 control-label"> </label>
                            <div class="col-lg-8">
                                <input type="hidden" id="hPLID" name="hPLID" />
                                <button type="button" class="btn btn-primary" onclick="DoAction(this,'edit')">Cập nhật</button>
                                <button type="button" class="btn btn-white" onclick="Reset()">Hủy</button> - OR -
                                <button id="btnDelete" type="button" class="btn btn-danger" data-toggle="modal" data-target="#promptModal" data-whatever="">Xóa</button>
                            </div>
                        </div>
                    </form>

                </div>
                </div>
            </div>
    </section>
    <!-- /.main -->
</section>

<div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Xóa</h4>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn thực hiện hành động này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Remove()">Thực hiện</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" charset="utf-8">

    function SelectedPL(obj, id, name, fname, st)
    {
        $("#pnlstPL a").each(function () { $(this).removeClass('active'); });
        $(obj).addClass('active');

        $('#groupAdd').attr("hidden", true);
        $('#groupEdit').attr("hidden", false);
        $("#btnDelete").attr("data-whatever", name);

        var sendInfo = {
            hPLID: id
        };

        $.ajax({
            type: "POST",
            url: "/MasterData/GetPandL",
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.status == 1) {
                    $("#plName").val(result.data.PL_DisplayName);

                    $("#plFullnameEn").val(result.data.PL_Name_En);
                    $("#plFullname").val(result.data.PL_Name);
                    if (result.data.PL_Status == 1) {
                        $('#plStatus').prop('checked', true);
                    } else {
                        $('#plStatus').prop('checked', false);
                    }
                    $('#plStatus').trigger('change');

                    $("#hPLID").val(result.data.PL_ID);
                    $('#lblActionType').html('Thay đổi thông tin - ' + result.data.PL_DisplayName);
                }
                else
                {
                    $.growl.error({ title: "Error!", message: 'Something went wrong' });
                }
            },
            data: sendInfo
        });
    }

    function Reset()
    {
        $("#pnlstPL a").each(function () { $(this).removeClass('active'); });
        $("#groupAdd").attr("hidden", false);
        $("#groupEdit").attr("hidden", true);
        $("#plName,#plFullname,#plFullnameEn").val('');
        $("#plStatus").prop('checked', true);
        $('#lblActionType').html('Thêm mới công ty');
    }

    $(document).ready(function () {
        $.validator.messages.required = "Thông tin bắt buộc";
        $.validator.addMethod("regx", function (value, element, regexpr) {
            return regexpr.test(value);
        }, 'Không chấp nhận ký tự đặc biệt');

        $("#PLAction").validate({
            rules: {
                plName: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                plFullname: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                plFullnameEn: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                }
            },
            messages: {
                plName: {
                    required: "Thông tin bắt buộc",
                    email: "Không chấp nhận ký tự đặc biệt"
                },
                plFullname: {
                    required: "Thông tin bắt buộc",
                    regx: "Không chấp nhận ký tự đặc biệt"
                }
                ,
                plFullnameEn: {
                    required: "Thông tin bắt buộc",
                    regx: "Không chấp nhận ký tự đặc biệt"
                }
            }
        });

        $('#promptModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.modal-title').text('Xóa : ' + recipient)
        });
    });

    function DoAction(btnClicked,action)
    {
        $(btnClicked).attr('disabled', 'disabled');
        var $form = $(btnClicked).parents('form');
        $form.validate().settings.ignore = ":disabled";
        $(btnClicked).attr('disabled', 'disabled');
        $('#modal_loading').modal('show');

        if (!$form.valid())
        {
            $(btnClicked).removeAttr('disabled');
            $('#modal_loading').modal('hide');

            $.growl.error({ title: "Error!", message: "Cần nhập đủ thông tin yêu cầu", fixed: false, size: 'large' });
        }
        else
        {
            var url = (action == 'add' ? 'MasterData/AddPL' : 'MasterData/EditPL');
            $.ajax({
                url: url,
                type: 'POST',
                data: $form.serialize(),
                success: function (result) {
                    $(btnClicked).removeAttr('disabled');
                    $('#modal_loading').modal('hide');

                    if (result.status == 0)
                    {
                        $.each(result.litmess.listViewisValid, function (key, value) {
                            $.growl.error({ title: "Error", message: value });
                        });
                    }
                    else if (result.status == -1) {
                        $.growl.error({ title: "Error!", message: 'Something went wrong' });
                    }
                    else {
                        window.location.href = "/masterdata";
                    }
                },
                error: function (e) {
                    $('#modal_loading').modal('hide');
                    $.growl.error({ title: "Error!", message: result.mes });
                    $(btnClicked).removeAttr('disabled');
                    
                },
                complete: function (e) {
                    $(btnClicked).removeAttr('disabled');
                    $('#modal_loading').modal('hide');
                }
            });
        }
    }

    function Remove()
    {
        $('#promptModal').modal('hide');
        var $form = $('#PLAction');
        $form.validate().settings.ignore = ":disabled";
        $('#modal_loading').modal('show');

        $.ajax({
            url: 'MasterData/DeletePL',
            type: 'POST',
            data: $form.serialize(),
            success: function (result) {
                $('#modal_loading').modal('hide');

                if (result.status == 0) {
                    $.growl.error({ title: "Error", message:'Công ty có dữ liệu liên kết, thao tác xóa không được thực hiện' });
                }
                else if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: 'Something went wrong' });
                }
                else {
                    window.location.href = "/masterdata";
                }
            },
            error: function (e) {
                $('#modal_loading').modal('hide');
                $.growl.error({ title: "Error!", message: result.mes });

            },
            complete: function (e) {
                $('#modal_loading').modal('hide');
            }
        });
    }


</script>

