﻿@{
    Layout = null;
}
<div class="m-t m-b-small" id="panel-notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-comment-o fa-fw fa-lg text-default"></i><b class="badge badge-notes bg-danger count-n">2</b></a>
    <section class="dropdown-menu m-l-small m-t-mini">
        <section class="panel panel-large arrow arrow-top">
            <header class="panel-heading bg-white"><span class="h5"><strong>You have <span class="count-n">2</span> notifications</strong></span></header>
            <div class="list-group">
                <a href="#" class="media list-group-item">
                    <span class="pull-left thumb-small"><img src="images/avatar.png" alt="John said" class="img-circle"></span>
                    <span class="media-body block m-b-none">
                        Moved to Bootstrap 3.0<br>
                        <small class="text-muted">23 June 13</small>
                    </span>
                </a>
                <a href="#" class="media list-group-item">
                    <span class="media-body block m-b-none">
                        first v.1 (Bootstrap 2.3 based) released<br>
                        <small class="text-muted">19 June 13</small>
                    </span>
                </a>
            </div>
            <footer class="panel-footer text-small">
                <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                <a href="#">See all the notifications</a>
            </footer>
        </section>
    </section>
</div>
