﻿@{
    Layout = null;
}
<nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li class="active"><a href="/home"><i class="fa fa-dashboard fa-lg"></i><span>Dashboard</span></a></li>
        <li><a href="/mastereventlist"><i class="fa fa-list fa-lg"></i><span>Đại hội</span></a></li>
        <li><a href="/masterdata"><i class="fa fa-link fa-lg"></i><span>System</span></a></li>
    </ul>
</nav>
