﻿@using VG.Common;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <section class="main padder">
        <div class="clearfix">
            <h3>
                <i class="fa fa-magic"></i> @Model.SeletedPL.PL_DisplayName - @Model.SeletedEvent.Event_Name
            </h3>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- .breadcrumb -->
                <ul class="breadcrumb">
                    <li>
                        <a href="/mastereventlist?p=@CommonHelper.HashEncodeId(Model.SeletedPL.PL_ID)"><i class="fa fa-home"></i> Danh sách đại hội</a>
                    </li>
                    <li class="active">@Model.SeletedPL.PL_DisplayName - @Model.SeletedEvent.Event_Name</li>
                </ul>
                <!-- / .breadcrumb -->
            </div>
            <div class="col-lg-12">
                <section class="toolbar clearfix m-b">
                    <a href="#" class="btn btn-circle"><i class="fa fa-plus"></i>Thêm cổ đông</a>
                    <a href="/EventConfig/EConfig?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" class="btn btn-danger btn-circle"><i class="fa fa-group"></i>Danh sách cổ đông</a>
                    <a href="/Validation/barcode?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" class="btn btn-success btn-circle"><i class="fa fa-check"></i>Kiểm tra giấy mời</a>
                    @if (Model.HasVote)
                    {
                        <a href="/Validation/VoteCounting?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" class="btn btn-white btn-circle"><i class="fa fa-envelope-o"></i>Kiểm phiếu ĐH</a>
                    }
                    @if (Model.HasBKS)
                    {
                        <a href="/Validation/ElectionCounting?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)&type=1" class="btn btn-info btn-circle"><i class="fa fa-envelope-o"></i>Kiểm phiếu BKS</a>
                    }
                    @if (Model.HasHDQT)
                    {
                        <a href="/Validation/ElectionCounting?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)&type=2" class="btn btn-warning btn-circle"><i class="fa fa-envelope-o"></i>Kiểm phiếu HDQT</a>
                    }

                    <a href="/Report/ReportMaster?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" class="btn btn-inverse btn-circle"><i class="fa fa-bar-chart-o"></i>Báo cáo</a>
                </section>

                <section class="panel">
                    <header class="panel-heading text-right">
                        <ul class="nav nav-tabs pull-left">
                            <li class="active">
                                <a href="#pnlStockTable" data-toggle="tab"><i class="fa fa-users fa-lg text-default"></i> Thông tin tổng quan</a>
                            </li>
                            <li>
                                <a href="#pnlImportExcel" data-toggle="tab"><i class="fa fa-cloud-upload fa-lg text-default"></i> Nhập thông tin cổ đông từ Excel</a>
                            </li>
                            <li>
                                <a href="#pnlEditInfo" data-toggle="tab"><i class="fa fa-edit fa-lg text-default"></i> Sửa thông tin đại hội</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="pnlStockTable">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-sm-6">
                                            <section class="panel">
                                                <header class="panel-heading bg-white">
                                                    <div class="text-center h5">Nhóm cá nhân / tổ chức</div>
                                                </header>
                                                <div class="panel-body pull-in text-center">
                                                    <div class="sparkline inline" data-type="pie" data-height="115" data-slice-colors="['#233445','#3fcf7f']">@ViewBag.percentCN,@ViewBag.percentTC</div>
                                                    <div class="text-mini">
                                                        <i class="fa fa-circle text-info"></i> @ViewBag.percentCN% Cá nhân
                                                        <i class="fa fa-circle text-success"></i> @ViewBag.percentTC% Tổ chức
                                                    </div>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-6">
                                            <section class="panel">
                                                <header class="panel-heading bg-white">
                                                    <div class="text-center h5">
                                                        Số cổ phần đã import:
                                                        <strong class="@ViewBag.CSSClass">@ViewBag.TotalStockImport</strong> /
                                                        <strong>@Model.SeletedEvent.NumlStock</strong>
                                                    </div>
                                                </header>
                                                <div class="panel-body pull-in text-center">
                                                    <div class="inline">
                                                        <div class="easypiechart" data-percent="@ViewBag.percentStockImport" data-bar-color="#576879">
                                                            <span class="h2" style="margin-left:10px;margin-top:10px;display:inline-block">@ViewBag.percentStockImport</span>%
                                                            <div class="easypie-text text-muted">Đã import</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <section class="panel">
                                            <header class="panel-heading">
                                                <span class="label bg-danger pull-right">@ViewBag.CountImportBatch lượt</span>
                                                Import
                                            </header>
                                            <div>
                                                <table class="table table-striped m-b-none text-small">
                                                    <thead>
                                                        <tr>
                                                            <th>Thành công</th>
                                                            <th>File</th>
                                                            <th>Ngày</th>
                                                            <th>Cổ phần</th>
                                                            <th>Insert</th>
                                                            <th>Error</th>
                                                            <th width="70"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.ListImport)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @{
                                                                        long percentProgress = (item.NumInsert * 100) / item.TotalRow;
                                                                    }
                                                                    <div class="progress progress-small progress-striped active m-t-mini m-b-none">
                                                                        <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="@Html.Raw(percentProgress)%" style="width: @Html.Raw(percentProgress)%"></div>
                                                                    </div>
                                                                </td>
                                                                <td>@item.OriFileName</td>
                                                                <td>@String.Format("{0:dd/MM/yyyy}", item.Created_Date)</td>
                                                                <td>@item.CountNumStock</td>
                                                                <td>
                                                                    <b class="text-primary">@item.NumInsert</b>/@item.TotalRow
                                                                </td>
                                                                <td>
                                                                    <b class="text-danger">@item.NumError</b>/@item.TotalRow
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="btn-group">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
                                                                        <ul class="dropdown-menu pull-right">
                                                                            <li>
                                                                                <a href="#">Save log</a>
                                                                            </li>
                                                                            <li class="divider"></li>
                                                                            <li>
                                                                                <a href="javascript:DeleteBatch(@item.Batch_ID);">Xóa lượt import</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>

                                        <section class="panel">
                                            <div class="panel-body text-muted l-h-2x">
                                                <a href="/EventConfig/EConfig?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)"><span class="badge bg-success">@ViewBag.TotalInvi</span> <span class="m-r-small">Cổ đông</span></a>
                                                <span class="badge">@ViewBag.TotalTN</span>
                                                <span class="m-r-small">Trong nước</span>
                                                <span class="badge">@ViewBag.TotalQT</span>
                                                <span class="m-r-small">Quốc tế</span>
                                            </div>
                                        </section>

                                    </div>
                                    <div class="col-lg-12">
                                        
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h3><i class="fa fa-edit"></i> Thông tin đại hội</h3>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Tổng số lượng cổ phiếu</div>
                                                    <div class="col-sm-6">@Model.SeletedEvent.NumlStock</div>
                                                </div>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Năm sự kiện</div>
                                                    <div class="col-sm-6">@Model.SeletedEvent.Event_Year</div>
                                                </div>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Từ ngày</div>
                                                    <div class="col-sm-6">@String.Format("{0:dd/MM/yyyy}", Model.SeletedEvent.FromDate)</div>
                                                </div>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Đến ngày</div>
                                                    <div class="col-sm-6">@String.Format("{0:dd/MM/yyyy}", Model.SeletedEvent.ToDate)</div>
                                                </div>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Tên sự kiện</div>
                                                    <div class="col-sm-6">@Model.SeletedEvent.Event_Name</div>
                                                </div>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Tên sự kiện En</div>
                                                    <div class="col-sm-6">@Model.SeletedEvent.Event_Name_En</div>
                                                </div>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Địa chỉ tổ chức</div>
                                                    <div class="col-sm-6">@Model.SeletedEvent.Location</div>
                                                </div>
                                                <div class="row m-b-mini">
                                                    <div class="col-sm-6">Địa chỉ tổ chức En</div>
                                                    <div class="col-sm-6">@Model.SeletedEvent.Location_En</div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <h3><i class="fa fa-edit"></i> Cấu hình sự kiện</h3>
                                                <section class="panel">
                                                    <table class="table table-striped m-b-none text-small">
                                                        <thead>
                                                            <tr>
                                                                <th>Tên cấu hình</th>
                                                                <th width="200">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    Biểu quyết đại hội
                                                                </td>
                                                                <td>
                                                                    @if (Model.SeletedEvent.HasVote)
                                                                    {
                                                                        <div class="btn-group">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i> Sửa cấu hình</a>
                                                                            <ul class="dropdown-menu pull-right">
                                                                                <li>
                                                                                    <a href="#">Sửa cấu hình</a>
                                                                                </li>
                                                                                <li class="divider"></li>
                                                                                <li>
                                                                                    <a onclick="OnEventConfig(1, 0,'@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)');" href="javascript:return false;">Xóa cấu hình</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a onclick="OnEventConfig(1, 1, '@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)');" href="javascript:return false;"><i class="fa fa-plus-square"></i> Tạo cấu hình</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Bầu ban kiểm soát
                                                                </td>
                                                                <td>
                                                                    @if (Model.SeletedEvent.HasBKS)
                                                                    {
                                                                        <div class="btn-group">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i> Sửa cấu hình</a>
                                                                            <ul class="dropdown-menu pull-right">
                                                                                <li>
                                                                                    <a href="#">Sửa cấu hình</a>
                                                                                </li>
                                                                                <li class="divider"></li>
                                                                                <li>
                                                                                    <a onclick="OnEventConfig(2, 0,'@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)');" href="javascript:return false;">Xóa cấu hình</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a onclick="OnEventConfig(2, 1,'@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)');" href="javascript:return false;"><i class="fa fa-plus-square"></i> Tạo cấu hình</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Bầu hội đồng quản trị
                                                                </td>
                                                                <td>
                                                                    @if (Model.SeletedEvent.HasHDQT)
                                                                    {
                                                                        <div class="btn-group">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i> Sửa cấu hình</a>
                                                                            <ul class="dropdown-menu pull-right">
                                                                                <li>
                                                                                    <a href="#">Sửa cấu hình</a>
                                                                                </li>
                                                                                <li class="divider"></li>
                                                                                <li>
                                                                                    <a onclick="OnEventConfig(3, 0,'@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)');" href="javascript:return false;">Xóa cấu hình</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a onclick="OnEventConfig(3, 1,'@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)');" href="javascript:return false;"><i class="fa fa-plus-square"></i> Tạo cấu hình</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pnlImportExcel">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <section class="panel">
                                            <div class="panel-body">
                                                <form method="post" data-validate="parsley" id="frmUpload" action="@Url.Action("UploadExcel", "EventConfig")" enctype="multipart/form-data">
                                                    @Html.AntiForgeryToken()
                                                    <p>Upload file Excel khách mời</p>
                                                    <div class="form-group">
                                                        <input type="file" class="form-control-file required" id="@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" name="@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" accept="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                                        <button class="btn btn-white" id="btn-1" onclick="uploadexcel(this)">
                                                            <i class="fa fa-cloud-upload text"></i>
                                                            <span class="text">Upload</span>
                                                        </button>
                                                    </div>
                                                </form>

                                                <div id="pnlExcelMapping">
                                                    <h4>Mapping file Excel</h4>
                                                    <div class="line line-dashed"></div>
                                                    <table id="example" class="table table-striped m-b-none text-mini">
                                                        <thead>
                                                            <tr id="tblExamCol"></tr>
                                                        </thead>
                                                        <tbody id="tblExamRow"></tbody>
                                                    </table>
                                                    <div class="line line-dashed"></div>
                                                    <div class="row form-horizontal padder">
                                                        <form method="post" data-validate="parsley" id="frmSaveSchema" action="@Url.Action("SaveImportSchema", "EventConfig")">
                                                            @Html.AntiForgeryToken()
                                                            <div class="form-group">
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o text-danger text"></i> Họ và tên
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opName" id="opName" class="form-control"></select>
                                                                </div>
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o"></i> Số lượng cổ phiếu
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opQuantity" id="opQuantity" class="form-control"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-2 text-right">Ngày sinh</div>
                                                                <div class="col-lg-4">
                                                                    <select name="opBirth" id="opBirth" class="form-control"></select>
                                                                </div>
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o text-danger text"></i> Địa chỉ liên hệ
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opAddress" id="opAddress" class="form-control"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o text-danger text"></i> CMT/Hộ chiếu
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opCardID" id="opCardID" class="form-control"></select>
                                                                </div>
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o text-danger text"></i> Ngày cấp
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opCardDate" id="opCardDate" class="form-control"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-2 text-right">Địa chỉ thường trú</div>
                                                                <div class="col-lg-4">
                                                                    <select name="opCardAddress" id="opCardAddress" class="form-control"></select>
                                                                </div>
                                                                <div class="col-lg-2 text-right">Địa chỉ tạm trú</div>
                                                                <div class="col-lg-4">
                                                                    <select name="opCardResident" id="opCardResident" class="form-control"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-2 text-right">Điện thoại</div>
                                                                <div class="col-lg-4">
                                                                    <select name="opTel" id="opTel" class="form-control"></select>
                                                                </div>
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o text-danger text"></i> Số di động
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opMobile" id="opMobile" class="form-control"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o text-danger text"></i> Type
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opType" id="opType" class="form-control"></select>
                                                                </div>
                                                                <div class="col-lg-2 text-right">
                                                                    <i class="fa fa-star-o text-danger text"></i> Nhóm
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <select name="opGroup" id="opGroup" class="form-control"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-2 text-right">Email</div>
                                                                <div class="col-lg-4">
                                                                    <select name="opEmail" id="opEmail" class="form-control"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <input type="hidden" id="eID" name="eID" value="@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" />
                                                                    <button type="button" class="btn btn-primary modal-action" onclick="SaveSchema(this)">Cập nhật mapping</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>

                                            </div>
                                        </section>

                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="pnlEditInfo">
                                <form method="post" data-validate="parsley" id="frmEventInfo" action="@Url.Action("EditEvent", "EventDasboard")">
                                    @Html.AntiForgeryToken()
                                    <h4>@Model.SeletedEvent.Event_Name</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <p>
                                                    Tổng số lượng cổ phiếu
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <input type="text" name="NumlStock" id="NumlStock" class="form-control required bg-focus" data-required="true" value="@Model.SeletedEvent.NumlStock" />
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    Năm sự kiện
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <select tabindex="1" id="Event_Year" name="Event_Year" class="year form-control">
                                                    <option>2017</option>
                                                    <option>2018</option>
                                                    <option>2019</option>
                                                    <option>2020</option>
                                                    <option>2021</option>
                                                </select>
                                                <script type="text/javascript">
                                                    $('#Event_Year').val('@Model.SeletedEvent.Event_Year');
                                                </script>
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    Từ ngày
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <input id="FromDate" name="FromDate" class="input-sm form-control datepicker required" size="16" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" autocomplete="off" value="@String.Format("{0:dd/MM/yyyy}", Model.SeletedEvent.FromDate)" />
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    Đến ngày
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <input id="ToDate" name="ToDate" class="input-sm form-control datepicker required" size="16" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" autocomplete="off" value="@String.Format("{0:dd/MM/yyyy}", Model.SeletedEvent.ToDate)" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <p>
                                                    Tên sự kiện
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <input type="text" name="Event_Name" id="Event_Name" class="form-control required" data-required="true" value="@Model.SeletedEvent.Event_Name" />
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    Tên sự kiện En
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <input type="text" name="Event_Name_En" id="Event_Name_En" class="form-control required" data-required="true" value="@Model.SeletedEvent.Event_Name_En" />
                                            </div>

                                            <div class="form-group">
                                                <p>
                                                    Địa chỉ tổ chức
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <input type="text" name="Location" id="Location" class="form-control required" data-required="true" value="@Model.SeletedEvent.Location" />
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    Địa chỉ tổ chức En
                                                    <i class="fa fa-star-o text-danger text"></i>
                                                </p>
                                                <input type="text" name="Location_En" id="Location_En" class="form-control required" data-required="true" value="@Model.SeletedEvent.Location_En" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <p>Ghi chú</p>
                                                <textarea id="Note" name="Note" placeholder="Ghi chú" rows="3" class="form-control" data-trigger="keyup" data-rangelength="[1,10]">@Model.SeletedEvent.Note</textarea>
                                            </div>

                                            <div class="form-group">
                                                <input type="hidden" id="eID" name="eID" value="@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)" />
                                                <button type="button" class="btn btn-primary modal-action" onclick="updateeventinfo(this)">Cập nhật</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </section>
</section>

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Báo cáo import Excel</h4>
            </div>
            <div class="modal-body" id="reportContent">
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" href="javascript:location.reload(true);">Okie</a>
            </div>
        </div>
    </div>
</div>

<div id="viewEDoc" class="modal fade">
    <div class="modal-dialog" style="width:24cm;">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#pnlExcelMapping').hide();

        $.validator.messages.required = "Thông tin bắt buộc";

        $.validator.addMethod("regx", function (value, element, regexpr) {
            return regexpr.test(value);
        }, 'Không chấp nhận ký tự đặc biệt');

        $("#frmEventInfo").validate({
            rules: {
                Event_Name: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                Location: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                Event_Name_En: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                Location_En: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                FromDate: {
                    regx: /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/
                },
                ToDate: {
                    regx: /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/
                },
                NumlStock: {
                    required: true,
                    number: true
                }
            },
            messages: {
                Event_Name: {
                    required: "Thông tin bắt buộc",
                    email: "Không chấp nhận ký tự đặc biệt"
                },
                Location: {
                    required: "Thông tin bắt buộc",
                    regx: "Không chấp nhận ký tự đặc biệt"
                },
                Event_Name_En: {
                    required: "Thông tin bắt buộc",
                    email: "Không chấp nhận ký tự đặc biệt"
                },
                Location_En: {
                    required: "Thông tin bắt buộc",
                    regx: "Không chấp nhận ký tự đặc biệt"
                },
                FromDate: {
                    regx: "Không đúng định dạng"
                },
                ToDate: {
                    regx: "Không đúng định dạng"
                },
                NumlStock: {
                    required: "Thông tin bắt buộc",
                    number: "Nhập số"
                }
            }
        });
    });

    function updateeventinfo(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $form.validate().settings.ignore = ":disabled";
        $(btnClicked).attr('disabled', 'disabled');
        $('#modal_loading').modal('show');

        if (!$form.valid()) {
            $(btnClicked).removeAttr('disabled');
            $('#modal_loading').modal('hide');
            $.growl.error({ title: "Error!", message: "Cần nhập đủ thông tin yêu cầu", fixed: false, size: 'large' });
        } else {

            var startDate = moment($("#FromDate").val(), "dd/mm/yyyy");
            var endDate = moment($("#ToDate").val(), "dd/mm/yyyy");

            if (startDate.isAfter(endDate)) {
                $.growl.error({ title: "Error!", message: "Ngày kết thúc cần lớn hơn ngày bắt đầu", fixed: false, size: 'large' });
                $('#modal_loading').modal('hide');
                $(btnClicked).removeAttr('disabled');
                return;
            }
            else {
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (result) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');

                        if (result.status == 0) {
                            $.each(result.litmess.listViewisValid, function (key, value) {
                                $.growl.error({ title: "Error", message: value });
                            });
                        }
                        else if (result.status == -1) {
                            $.growl.error({ title: "Error!", message: 'Something went wrong' });
                        }
                        else {
                            window.location.href = "/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)";
                        }
                    },
                    error: function (e) {
                        $('#modal_loading').modal('hide');
                        $.growl.error({ title: "Error!", message: result.mes });
                        $(btnClicked).removeAttr('disabled');

                    },
                    complete: function (e) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');
                    }
                });
            }
        }
    }

    function DownloadAll(id)
    {
        $('#modal_loading').modal('show');

        var sendInfo = {
            eID: id
        };

        $.ajax({
            type: "POST",
            url: "/EventDasboard/Download",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $('#modal_loading').modal('hide');
            },
            data: sendInfo
        });
    }

    function DeleteBatch(id)
    {
        $('#modal_loading').modal('show');

        var sendInfo = {
            bID: id
        };
        $.ajax({
            type: "POST",
            url: "/EventDasboard/DeleteBatch",
            dataType: "json",
            success: function (result) {
                $('#modal_loading').modal('hide');
                window.location.href = "/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)";
            },
            data: sendInfo
        });
    }

    function OnEventConfig(type, value, eid)
    {
        $('#modal_loading').modal('show');

        var sendInfo = {
            type: type,
            value: value,
            eID: eid
        };

        $.ajax({
            type: "POST",
            url: "/EventDasboard/OnEventConfig",
            dataType: "json",
            success: function (result) {
                $('#modal_loading').modal('hide');
                window.location.href = "/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)";
            },
            data: sendInfo
        });
    }

    function uploadexcel(btnClicked) {
        $('#pnlExcelMapping').hide();

        var $form = $(btnClicked).parents('form');
        $(btnClicked).attr('disabled', 'disabled');
        $('#modal_loading').modal('show');

        if (!$form.valid()) {
            $(btnClicked).removeAttr('disabled');
            $('#modal_loading').modal('hide');
            $.growl.error({ title: "Error!", message: "Chưa chọn file upload", fixed: true, size: 'large' });
            return;
        }
        else {
            var formData = new FormData($form[0]);

            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    console.log(result);
                    $(btnClicked).removeAttr('disabled');
                    $('#modal_loading').modal('hide');
                    if (result.status == 0) {
                        $.growl.error({ title: "Error!", message: result.mes });
                    }
                    else {
                        BindMapingColumns(result.data, result.example);
                    }
                },
                error: function (e) {
                    $(btnClicked).removeAttr('disabled');
                    $('#modal_loading').modal('hide');
                    $.growl.error({ title: "Error!", message: result.mes });
                }
            });
        }
    }

    function BindMapingColumns(data, example) {
            console.log(data);
            $('#tblExamCol').empty();
            $('#tblExamRow').empty();
            $('#opMaCoDong').empty().append('<option value="---select---">---Select---</option>');
            $('#opName').empty().append('<option value="---select---">---Select---</option>');
            $('#opBirth').empty().append('<option value="---select---">---Select---</option>');
            $('#opAddress').empty().append('<option value="---select---">---Select---</option>');
            $('#opQuantity').empty().append('<option value="---select---">---Select---</option>');
            $('#opEmail').empty().append('<option value="---select---">---Select---</option>');
            $('#opTel').empty().append('<option value="---select---">---Select---</option>');
            $('#opMobile').empty().append('<option value="---select---">---Select---</option>');
            $('#opCardID').empty().append('<option value="---select---">---Select---</option>');
            $('#opCardDate').empty().append('<option value="---select---">---Select---</option>');
            $('#opCardAddress').empty().append('<option value="---select---">---Select---</option>');
            $('#opCardResident').empty().append('<option value="---select---">---Select---</option>');
            $('#opType').empty().append('<option value="---select----">---Select---</option>');
            $('#opGroup').empty().append('<option value="---select---">---Select---</option>');

            $.each(data, function (i, item) {
                console.log(item);
                $('#tblExamCol').append('<th>' + item + '</th>');
                var tmp = '<option value="' + item + '">' + item + '</option>';

                $('#opMaCoDong').append(tmp);
                $('#opName').append(tmp);
                $('#opBirth').append(tmp);
                $('#opAddress').append(tmp);
                $('#opQuantity').append(tmp);
                $('#opEmail').append(tmp);
                $('#opTel').append(tmp);
                $('#opMobile').append(tmp);
                $('#opCardID').append(tmp);
                $('#opCardDate').append(tmp);
                $('#opCardAddress').append(tmp);
                $('#opCardResident').append(tmp);
                $('#opType').append(tmp);
                $('#opGroup').append(tmp);
            });

            $.each(example, function (i, row) {
                $('#tblExamRow').append('<tr id="e' + i + '"></tr>')
                $.each(row, function (z, clvalue) {
                    $('#e' + i).append('<td>' + clvalue + '</td>')
                });
            });

            $('#pnlExcelMapping').show();
        }

    function SaveSchema(btnClicked) {
            var $form = $(btnClicked).parents('form');
            $(btnClicked).attr('disabled', 'disabled');
            $('#modal_loading').modal('show');

            if (!$form.valid()) {
                $(btnClicked).removeAttr('disabled');
                $('#modal_loading').modal('hide');
                $.growl.error({ title: "Error!", message: "Cần nhập đủ thông tin yêu cầu", fixed: false, size: 'large' });
            }
            else {
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (result) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');

                        if (result.status == 0) {
                            $(btnClicked).removeAttr('disabled');
                            $.growl.error({ title: "Error!", message: result.mes });
                        }
                        else if (result.status == -1) {
                            $(btnClicked).removeAttr('disabled');
                            $.growl.error({ title: "Error!", message: result.mes });
                        }
                        else {
                            console.log(result);
                            $('#pnlExcelMapping').hide();
                            $('#tblExamCol').empty();
                            $('#tblExamRow').empty();

                            $('#reportContent').append('<h4>Xử lý: ' + result.numberprocess + ' dòng. Có: ' + result.numerror + ' lỗi.</h4>');
                            $('#reportContent').append('<ul>');
                            $.each(result.logerror, function (z, clvalue) {
                                $('#reportContent').append('<li>dòng [' + clvalue.RowIndex + '], dữ liệu gốc [' + clvalue.Value + '] lỗi: [' + clvalue.Mess + ']</li>');
                            });
                            $('#reportContent').append('</ul>');
                            $('#reportModal').modal('show');
                        }
                    },
                    error: function (e) {
                        $('#modal_loading').modal('hide');
                        $.growl.error({ title: "Error!", message: result.mes });
                        $(btnClicked).removeAttr('disabled');

                    },
                    complete: function (e) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');
                    }
                });
            }
        }
</script>
