﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    <div class="col-lg-4 col-lg-offset-4 m-t-large">
        <section class="panel">
            <header class="panel-heading text-center">
                Đăng nhập
            </header>
            <form class="panel-body" method="post" data-validate="parsley" id="formSignIn">
                @Html.AntiForgeryToken()
                <div class="block">
                    <label class="control-label">Tên đăng nhập</label>
                    <input id="username" name="username" placeholder="Tên đăng nhập" class="form-control required" autocomplete="off" data-required="true" />
                </div>
                <div class="block">
                    <label class="control-label">Mật khẩu</label>
                    <input type="password" name="Password" id="Password" placeholder="Mật khẩu" class="form-control required" autocomplete="off" data-required="true" />
                </div>
                <button type="submit" class="btn btn-info" id="btmSubmit">Đăng nhập</button>
                <div class="line line-dashed"></div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-warning alert-block">
                        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                        <h4><i class="fa fa-bell-o"></i>Warning</h4>
                        <p>@ViewBag.Message</p>
                    </div>
                }
            </form>
        </section>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.messages.required = 'Thông tin bặt buộc';
        $("#formSignIn").validate();
    });
</script>
