﻿@using VG.Common;
@{
    ViewBag.Title = "INVITATION LETTER";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}

<div style="font-family: 'Times New Roman';position: relative;font-size:16px;">
    <div id="content" style="vertical-align:central;margin:auto;background-color:white;display:table;width:19cm;height:33cm;padding:0px 80px;">
        <img src="~/images/vinhomes_logo.png" height="70" style="margin:0 auto;display:block;" />
        <div style="position:relative;">
            <div style="float:left; width:340px;text-align:left;">
                <p><b style="font-size:16px;">@Model.SeletedPL.PL_Name_En.ToUpper() </b></p>
                <div style="width:100px;border-bottom:dashed; border-color:dimgray;border-width:1px;margin-left:100px;"></div>
            </div>
            <div style="float:left;width:350px;text-align:center;margin-left:17px;">
                <p style="margin-bottom:5px;"><b style="font-size:16px;line-height:14px;">THE SOCIALIST REPUBLIC OF VIETNAM</b></p>
                <p style="margin-top:0px;"><b>Independence – Freedom – Happiness</b></p>
                <div style="width:150px;border-bottom:dashed; border-color:dimgray;border-width:1px;margin:auto;"></div>
                <p style="text-align:right"><i>Hanoi, 15 May 2019</i></p>
            </div>
            @*<div style="position:absolute;height:200px;width:200px;left:-60px;top:40px;">
                <img src="~/images/vinhomes_Tamp.png" height="170" />
            </div>*@
        </div>
        <div style="padding-top:5px;clear:both;line-height:20px;">
            <div style="text-align:center;">
                <b style="font-size:16px;line-height:29px;">
                    INVITATION LETTER<br />
                    TO THE @Model.SeletedEvent.Event_Name_En.ToUpper()
                </b>
            </div>
            <div style="position:relative;padding-top:30px;">
                <div style="float:left;width:510px;text-align:left;margin-left:50px;">
                    <p style="margin:4px 0px;"><b>To:</b> @Model.SelectedInvite.FullName</p>
                    <p style="margin:4px 0px;">Address: @Model.SelectedInvite.Address</p>
                    <p style="margin:4px 0px;">Phone No: @Model.SelectedInvite.Mobile</p>
                    <p style="margin:4px 0px;">Shareholder Code: @CommonHelper.HashEncodeId(Model.SelectedInvite.SHID)</p>
                </div>
                <div style="float:right; width:150px;text-align:right;">
                    <img src="data:image/png;base64,@Model.SelectedInvite.BarCode" />
                </div>
            </div>
            <div style="display:block;clear:both;padding-top:5px;margin:0px;">
                <p>
                    Dear Shareholders,<br />The Board of Directors of @Model.SeletedPL.PL_Name_En would like to make the following announcements:
                </p>
                <ol style="padding-left:15px;list-style-type: upper-roman;">
                    <li style="font-weight:bold;">
                        <p style="margin:5px 0;">Convening of the @Model.SeletedEvent.Event_Name_En (the "AGM"):</p>
                        <div style="display:table;margin-bottom:10px;">
                            <div style="float:left;width:120px;margin-left:15px;font-weight:normal;">Time:</div>
                            <div style="float:left;text-align:justify;width:560px;"><b>9:30AM - @VnDateConvert.ConvertDateTimeTempEN(Model.SeletedEvent.FromDate)</b></div>
                        </div>
                        <div style="display:table;margin-bottom:10px;">
                            <div style="float:left;width:120px;margin-left:15px;font-weight:normal;">Venue:</div>
                            <div style="float:left;text-align:justify;width:560px;">@Model.SeletedEvent.Location_En</div>
                        </div>
                        <div style="display:table;">
                            <div style="float:left;width:120px;margin-left:15px;font-weight:normal;">Admission:</div>
                            <div style="float:left;text-align:justify;width:560px;font-weight:normal;">Shareholders on the Record as of 10 May 2019 provided by the Vietnam Securities Depository are entitled to participate in the 2019 AGM.</div>
                        </div>
                    </li>
                    <li style="font-weight:bold;clear:both;">
                        <p style="margin:5px 0;">Registration time and attendance confirmation:</p>
                        <p style="font-weight:normal;text-align:justify;margin:5px 0;">
                            Shareholders are kindly requested to confirm attendance by phone at: <b>(84-24) 3974 9999</b> – ext. <b>5131 (Ms. Huong Le)</b> before <b>4:30PM of 22 May 2019</b>.
                            <br />We look forward to welcoming you to the 2019 AGM!
                        </p>
                    </li>
                </ol>
                <p>
                    <b><u><i>Notes:</i></u></b>
                    <ul style="padding-left:15px;text-align:justify;margin-top:0px;">
                        <li style="padding-left:15px;padding-bottom:5px;">
                            <i>Shareholders are responsible for their own travel and accommodation costs;</i>
                        </li>
                        <li style="padding-left:15px;padding-bottom:5px;">
                            <i>Please bring your Invitation, ID card/Passport, Power of Attorney (for individuals holding Shareholders’ proxy to attend the AGM)<sup>1</sup>;</i>
                        </li>
                        <li style="padding-left:15px;padding-bottom:5px;">
                            <i>Meeting materials can be downloaded from Vinhomes JSC’s official website: https://vinhomes.vn/en under the Investor Relations/Information Disclosure/Annual General Meeting of Shareholders.</i>
                        </li>
                    </ul>
                </p>
            </div>
            <div style="position:relative;clear:both;">
                <div style="float:right; width:430px;text-align:center;margin-top:10px;">
                    <b>
                        ON BEHALF OF<br />THE BOARD OF DIRECTORS
                    </b>
                    <br /><br /> <br />
                    <b>(signed)</b><br /><br /><br />
                                               <b>NGUYEN DIEU LINH<br />CHAIRPERSON</b>
                </div>
            </div>
        </div>
        <div style="padding-top:70px;clear:both;text-align:left;">
            <hr style="width:200px;margin:0px;" />
            <p style="text-align:justify;">
                1 Proxies must present their ID cards or passports with the original Power of Attorney according to the form issued by Vinhomes Joint Stock Company or valid notarized/certified Power of Attorney by authorized agencies/organizations before attending the General Meeting of Shareholders. Proxies without a valid Power of Attorney are not allowed to attend the General Meeting of Shareholders under all circumstances.
            </p>
        </div>
    </div>
</div>

