﻿@using VG.Common;
@{
    ViewBag.Title = "Thư mời tham dự đại hội cổ đông";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}
<div style="font-family: 'Times New Roman';position: relative;font-size:16px;">
    <div id="content" style="vertical-align:central;margin:auto;background-color:white;display:table;width:19cm;height:33cm;padding:0px 80px;">
        <div style="position:relative;">
            <div style="float:left; width:350px;text-align:left;">
                <p>
                    <b>@Model.SeletedPL.PL_Name.ToUpper()</b><br>
                    <b><i>@Model.SeletedPL.PL_Name_En.ToUpper()</i></b>
                    <div style="text-align:center;">--------------------</div><br>
                </p>
            </div>
            <div style="float:left;width:340px;text-align:center;margin-left:17px;">
                <p style="margin-bottom:5px;"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
                <p style="margin-top:0px;">Độc lập – Tự do – Hạnh phúc</p>
                <b><i>THE SOCIALIST REPUBLIC OF VIETNAM</i></b><br>
                <b><i>Independence – Freedom – Happiness</i></b><br>
                <b>--------------------</b><br>
                <p style="text-align:right">Hà Nội, ngày 28 tháng 03 năm 2019</p>
                <p style="text-align:right"><i>Hanoi, ………………. 2020</i></p>
            </div>
        </div>
        <div style="padding-top:30px;clear:both;line-height:20px;">
            <div style="text-align:center;">
                <b style="font-size:18px;line-height:29px;">
                    <span style="font-size:18px">THÔNG BÁO MỜI HỌP</span><br />
                    <span style="font-size:18px">@Model.SeletedEvent.Event_Name.ToUpper()</span><br />
                    <i style="font-size:18px">INVITATION LETTER</i><br />
                    <i style="font-size:18px">@Model.SeletedEvent.Event_Name_En.ToUpper()</i>
                </b>
            </div>
            <div style="position:relative;padding-top:30px;">
                <div style="float:left;width:510px;text-align:left;margin-left:50px;">
                    <p><b>Kính gửi/To:</b> Quý cổ đông/Shareholder: @Model.SelectedInvite.FullName</p>
                    <p>Địa chỉ/Address:  @Model.SelectedInvite.Address</p>
                    <p>Điện thoại/Phone No:@Model.SelectedInvite.Mobile</p>
                    <p>Mã số cổ đông/Shareholder Code: @CommonHelper.HashEncodeId(Model.SelectedInvite.SHID)</p>
                </div>
                <div style="float:right; width:150px;text-align:right;">
                    <img src="data:image/png;base64,@Model.SelectedInvite.BarCode" />
                </div>
            </div>



            <div style="display:block;clear:both;padding-top:5px;margin:0px;">
                <p>
                    Kính thưa Quý Cổ đông,
                    Dear Shareholders,
                    Hội đồng Quản trị @Model.SeletedPL.PL_Name trân trọng thông báo tới Quý cổ đông như sau:
                    The Board of Directors of @Model.SeletedPL.PL_Name_En would like to make the following announcements:
                </p>
                <ol style="padding-left:0px;list-style-type: upper-roman;">
                    <li style="font-weight:bold;text-align:justify;">
                        <p style="margin:5px 0;">Triệu tập cuộc họp @Model.SeletedEvent.Event_Name: </p>
                        <p>Convening of the @Model.SeletedEvent.Event_Name_En (the “AGM”):</p>
                        <p style="font-weight:normal;margin:5px 0;">Thời gian: <b>9h00  @VnDateConvert.ConvertDateTimeTempVN(Model.SeletedEvent.FromDate).</b></p>
                        <p style="font-weight:normal;margin:5px 0;">Time: <b>9:00AM – 28 May 2020</b></p>
                        <p style="font-weight:normal;margin:5px 0;">Địa điểm/Venues: </p>
                        <ol style="font-weight:bold; ">
                            <li style="margin-bottom: 15px;">
                                Văn phòng Tập đoàn Vingroup, Số 7 Đường Bằng Lăng 1, Khu đô thị sinh thái Vinhomes Riverside, Phường Việt Hưng, Quận Long  Biên, Hà Nội, Việt Nam. <br> <i>Vingroup Office, No. 7 Bang Lang 1 Street, Vinhomes Riverside Ecological Urban Area, Viet Hung Ward, Long Bien District, Hanoi, Vietnam.</i>
                            </li>
                            <li style="margin-bottom: 15px;">
                                Trung tâm Hội nghị Almaz, Đường Hoa Lan, Khu đô thị sinh thái Vinhomes Riverside, phường Phúc Lợi, Quận Long Biên, Hà Nội, Việt Nam. <br> <i>Almaz Convention Center, Hoa Lan Street, Vinhomes Riverside Ecological Urban Area, Phuc Loi Ward, Long Bien District, Hanoi, Vietnam.</i>
                            </li>
                            <li style="margin-bottom: 15px;">
                                Tòa nhà Văn phòng Symphony, Đường Chu Huy Mân, Khu đô thị sinh thái Vinhomes Riverside, Phường Phúc Lợi, Quận Long Biên, Hà Nội,Việt Nam. <br> <i>Symphony Office Building, Chu Huy Man Street, Vinhomes Riverside Ecological Urban Area, Phuc Loi Ward, Long Bien District, Hanoi, Vietnam.</i>
                            </li>
                        </ol>
                        <p style="font-weight:normal;margin:5px 0;">-   Hình thức họp: Hội nghị trực tuyến kết nối các địa điểm họp.</p>
                        <p style="font-weight:normal;margin:5px 7px;">    <i>Form of meeting: Online conference.</i></p>
                        <p style="font-weight:normal;margin:5px 0;">-   Thành phần tham dự: Các cổ đông có quyền dự họp Đại hội đồng cổ đông thường niên năm 2020 theo danh sách cổ đông do Trung tâm Lưu ký Chứng khoán Việt Nam lập tại ngày 27/04/2020..</p>
                        <p style="font-weight:normal;margin:5px 7px;"><i>Admission: Shareholders on the Record as of 27 April 2020 provided by the Vietnam Securities Depository are entitled to participate in the 2020 AGM.</i></p>
                    </li>
                    <li style="font-weight:bold;">
                        <p>Thời gian đăng ký và xác nhận tham dự Đại hội:</p>
                        <p style="font-weight:normal;text-align:justify;">
                            Để thuận tiện cho công tác tổ chức, đề nghị Quý Cổ đông trực tiếp xác nhận tham dự Đại hội theo số điện thoại: <b>(84-24) 3975 6699</b> - số máy lẻ <b>5688</b> (Bà Nguyễn Bảo Hạnh) hoặc qua số fax: <br /><b>(84-24) 3974 8888</b> trước <b>16h30’ ngày ...../...../2020. </b>.
                        </p>
                        <p style="font-weight:normal;text-align:justify;">
                            <i> Shareholders are kindly requested to confirm your attendance by phone at <b>(84-24) 3974 9999</b> – ext: <b>9064</b> (Ms. Nguyen Bao Hanh) or via fax at <b>(84-24) 3974 8888</b> before <b>4:30PM of ……….. 2020.</b></i>
                        </p>
                    </li>
                </ol>
                <p>
                    <b><u>Ghi chú/Notes:</u></b>
                    <ul style="padding-left:0px;text-align:justify;">
                        <li>
                <p>Mọi chi phí đi lại và ăn ở sẽ do cổ đông tự trang trải;</p>
                <i>Shareholders are responsible for their own travel and accommodation costs;</i>
                </li>
                <li>
                    <p>Quý Cổ đông hoặc người được uỷ quyền khi đến tham dự Đại hội vui lòng mang theo Thông báo mời họp, Chứng minh nhân dân/Căn cước công dân/Hộ chiếu, Giấy uỷ quyền (nếu là người được uỷ quyền dự họp) ;</p>
                    <i>Please bring your invitation, ID card/Passport, Power of Attorney (for individuals holding Shareholders’ proxy to attend the AGM)1;</i>
                </li>
                <li>
                    <p>Tài liệu phục vụ Đại hội được đăng tải trên trang thông tin điện tử của Tập đoàn Vingroup. Quý Cổ đông có thể tải về tại đường dẫn: http://www.vingroup.net, mục Quan hệ cổ đông/Công bố thông tin/Đại hội đồng cổ đông.</p>
                    <i>Meeting materials can be downloaded from Vingroup’s official website: www.vingroup.net under Investor Relations/Information Disclosure/Annual General Meeting of Shareholders section. </i>
                </li>
                </ul>
                </p>
            </div>
            <div style="position:relative;clear:both;">
                <div style="float:right; width:430px;text-align:center;margin-top:30px;">
                    <p><b>TM. HỘI ĐỒNG QUẢN TRỊ</b></p>
                    <p><b>CHỦ TỊCH</b></p>
                    <p><i><b>ON BEHALF OF THE BOARD OF DIRECTORS</b></i></p>
                    <p><i><b>CHAIRMAN</b></i></p>
                    <br /><br /><br />
                    <b>(đã ký/signed)</b>
                    <br /><br /><br />
                    <b>PHẠM NHẬT VƯỢNG</b>
                </div>
            </div>
        </div>
        <div style="padding-top:70px;clear:both;text-align:left;">
            <hr style="width:200px;margin:0px;" />
            <p>  Người được ủy quyền dự họp phải xuất trình Giấy ủy quyền theo mẫu do Tập đoàn Vingroup phát hành hoặc Giấy ủy quyền công chứng/chứng thực hợp lệ của cơ quan/tổ chức có thẩm quyền. Mọi trường hợp không có Giấy ủy quyền hợp lệ, người được ủy quyền không được quyền tham dự Đại hội đồng cổ đông.</p>
            <i>The authorized person must present a Power of Attorney under the form issued by Vingroup or a duly notarized /certified Power of Attorney from the competent body/organization. In all cases where there is no valid Power of Attorney, the authorized person may not attend the AGM.</i>
        </div>
    </div>
</div>