﻿@using VG.Common;
@{
    ViewBag.Title = "ElectionBODVN";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}

<div style="font-family: 'Times New Roman';position: relative;font-size:18px;">
    <div id="content" style="vertical-align:central;margin:auto;background-color:white;display:table;width:21cm;height:29.7cm;padding:40px 60px;">
        <div style="clear:both;line-height:20px;">
            <div style="text-align:center;">
                <b style="font-size:18px;line-height:22px;">
                    @Model.Event_Name<br />
                    @Model.PLName</br>
                    Địa chỉ: @Session["LocationAddress"].ToString()
                </b>
                <hr style="width:20cm;margin:1px auto;margin:20px 0" />
                <b style="font-size:25px;line-height:42px;">THẺ BẦU CỬ THÀNH VIÊN HỘI ĐỒNG QUẢN TRỊ</b>
            </div>
            <div style="display:block;clear:both;padding-top:15px;margin:0 20px;">
                <div style="display:table;width:80%;margin:0 auto">
                    <div style="float:left;width:500px;text-align:left;">
                        <p style="margin:6px 0px;">Họ và tên cổ đông: <b>@Model.StockholderName</b></p>
                        <p style="margin:6px 0px;">Mã số cổ đông: <b>@Model.StockHolderCode - @Model.StockHolderID</b></p>
                    </div>
                    <div style="float:right; width:100px;text-align:right;height:100px;">
                        <img style="margin-top:10px;" src="data:image/png;base64,@Model.StockHolderBarcodeCode64" /><br />
                    </div>
                </div>
                <table style="border:1px solid black;border-collapse:collapse;width:80%;margin:0 auto;text-align:center;">
                    <tr>
                        <td style="border:1px solid black;width:40%;padding:5px;">Số cổ phần</td>
                        <td style="border:1px solid black;width:60%;padding:5px;">Tổng số phiếu bầu = số cổ phần có quyền biểu quyết x @Model.CountCandidates Thành viên HĐQT được bầu</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;width:40%;padding:5px;"><b>@CommonHelper.GetDecimalFormart(Model.Quantity, "vn")</b></td>
                        <td style="border:1px solid black;width:60%;padding:5px;"><b>@CommonHelper.GetDecimalFormart(Model.TotalQuantity, "vn")</b></td>
                    </tr>
                </table>

                <p style="text-align:center;">Số thành viên Hội đồng quản trị được bầu: @Model.CountCandidates thành viên</p>

                <table style="border:1px solid black;border-collapse:collapse;width:100%;text-align:center;margin-top:20px;">
                    <tr>
                        <td style="border:1px solid black;padding:5px;" rowspan="2"><b>STT</b></td>
                        <td style="border:1px solid black;padding:5px;" rowspan="2"><b>Họ và tên ứng viên</b></td>
                        <td style="border:1px solid black;padding:5px;" colspan="2"><b>Số phiếu bầu</b><br />(Chọn 1 trong 2 cách dưới đây)</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;padding:5px;">Chia đều tổng số phiếu cho 02 ứng viên được chọn <i>(đánh dấu “x” hoặc “v” vào @Model.CountCandidates ứng viên được chọn)</i> (*)</td>
                        <td style="border:1px solid black;padding:5px;">Bầu số lượng phiếu cụ thể cho từng ứng viên <i>(viết số lượng cụ thể phiếu bầu cho ứng viên)</i></td>
                    </tr>

                    @foreach (var item in Model.lstCandidates)
                    {
                        <tr>
                            <td style="border:1px solid black;padding:20px 5px;width:30px;">@item.GetOrder</td>
                            <td style="border:1px solid black;padding:5px;width:300px;">@item.FullName</td>
                            <td style="border:1px solid black;padding:5px;"></td>
                            <td style="border:1px solid black;padding:5px;"></td>
                        </tr>
                    }
                </table>

                <p style="text-align:center;">(*) Cách này bắt buộc phải tích đủ (x) hoặc (v) cho @Model.CountCandidates ứng viên</p>
            </div>

            <div style="position:relative;clear:both;">
                <div style="float:right; width:350px;text-align:center;margin-top:30px;border:1px solid black;height:200px">
                    <p>
                        <b>
                            Phần chữ ký xác nhận của cổ đông<br />
                            (Hoặc người đại diện theo ủy quyền)
                        </b><br />
                        <i>(Ký, ghi rõ họ tên)</i>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

