﻿@using VG.Common;
@{
    ViewBag.Title = "Danh sách báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- .breadcrumb -->
            <ul class="breadcrumb" style="margin-bottom:0px;">
                <li><a href="/mastereventlist?p=@CommonHelper.HashEncodeId(Model.SeletedPL.PL_ID)"><i class="fa fa-home"></i>Danh sách đại hội</a></li>
                <li><a href="/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)">@Model.SeletedPL.PL_DisplayName - @Model.SeletedEvent.Event_Name</a></li>
                <li class="active">Xuất bản báo cáo</li>
            </ul>
            <!-- / .breadcrumb -->
        </div>
    </div>

    <div class="content-sidebar bg-white">
        <!-- .sidebar -->
        <aside class="sidebar sidebar-large">
            <div class="padder header-bar bg clearfix">
                <h3 class="m-b">Danh sách template</h3>
            </div>
            <div class="list-group list-normal m-t-n-xmini" style="max-height:500px" id="pnlstDoc">
                @foreach (var item in Model.ListEventDoc)
                {
                    string clactive = (item.EventDoc_ID == Model.SeletedDocument.EventDoc_ID) ? "active" : "";
                    <a class="list-group-item @Html.Raw(clactive)" href="/Report/ReportMaster?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)&doc=@item.EventDoc_ID">
                        <strong>@item.DocName</strong>
                    </a>
                }
            </div>
        </aside>
        <!-- /.sidebar -->
        <!-- .main -->
        <section class="main">
            <div class="bg-primary clearfix padder m-b">
                <div class="pull-left">
                    <h3 class="m-b" id="lblActionType" style="margin:5px 0px;">@Model.SeletedDocument.DocName</h3>
                    <p>@Model.SeletedEvent.Event_Name</p>
                </div>
                <div class="btn-group m-t pull-right">
                    <div class="btn-group">
                        <a href="/Template/EventDocument?docID=@Model.SeletedDocument.EventDoc_ID" class="btn btn-white" target="_blank" data-toggle="tooltip" data-title="Xuất bản báo cáo"><i class="fa fa-reply"></i></a>
                        <a class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/Template/EventDocument?docID=@CommonHelper.HashEncodeId(Model.SeletedDocument.EventDoc_ID)"><i class="fa fa-reply"></i> Xuất bản báo cáo</a></li>
                            <li class="divider"></li>
                            <li><a href="/EventDasboard/Dashboard?d=@CommonHelper.HashEncodeId(Model.SeletedDocument.EventDoc_ID)">Tải PDF</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal" method="post" data-validate="parsley">
                        @Html.AntiForgeryToken()
                        <div class="col-lg-12">
                            <div class="input-group m-b m-t">
                                <input type="text" id="DocName" name="DocName" class="input form-control" value="@Model.SeletedDocument.DocName" />
                                <div class="input-group-btn">
                                    <button class="btn btn-white btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="dropdown-label">@Model.SeletedDocument.Doc_Lang</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="langlist" class="dropdown-menu dropdown-select pull-right">
                                        <li class="active">
                                            <a href="#"><input type="radio" value="vn" name="DocLang">vn</a>
                                        </li>
                                        <li>
                                            <a href="#"><input type="radio" value="en" name="DocLang">en</a>
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" name="SelectLang" id="SelectLang" value="@Model.SeletedDocument.Doc_Lang" />
                            </div>
                            <div class="form-group padder">
                                <textarea id="DocTemplate" name="DocTemplate" rows="10" class="form-control ">@Model.SeletedDocument.DocTemplate</textarea>
                            </div>
                            <div class="padder">
                                <input type="hidden" name="DocID" value="@Model.SeletedDocument.EventDoc_ID" />
                                <button type="button" class="btn btn-primary" onclick="DoAction(this)">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="row padder m-b-large">
                <div class="col-lg-12">
                    <div class="line line-dashed m-t-large"></div>
                    <div class="form-group">
                        <h4>System parameters</h4>
                        <div class="clearfix m-b panel" style="padding:10px;">
                            @foreach (var item in Model.ListSysParams)
                            {
                                <span class="bg-info m-b-mini m-r-mini h5" style="float:left;padding:5px;border-radius:5px;">@item.Param_name</span>
                            }
                        </div>
                    </div>
                    <div>
                        @foreach (var item in Model.ListCusParams)
                        {
                            <div class="m-b clearfix">
                                <div class="col-lg-4">
                                    <input type="text" id="PName_@item.Param_ID" name="PName_@item.Param_ID" class="input form-control" value="@item.Param_name" readonly="readonly" />
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="input form-control" value="@item.Param_Value" id="PValue_@item.Param_ID" name="PValue_@item.Param_ID" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-white" type="button" onclick="SaveParam(@item.Param_ID)">Lưu</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- /.main -->
    </div>
</section>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#langlist li').on('click', function () {
            $('#SelectLang').val($(this).text());
        });
    });

    function DoAction(btnClicked)
    {
        var $form = $(btnClicked).parents('form');
        $(btnClicked).attr('disabled', 'disabled');
        $('#modal_loading').modal('show');

        $.ajax({
            url:'/Report/UpdateDoc',
            type: 'POST',
            data: $form.serialize(),
            success: function (result) {
                $(btnClicked).removeAttr('disabled');
                $('#modal_loading').modal('hide');
                if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: 'Something went wrong' });
                }
                else {
                    window.location.href = "/Report/ReportMaster?eID=@CommonHelper.HashEncodeId(Model.SeletedEvent.Event_ID)&doc=@Model.SeletedDocument.EventDoc_ID";
                }
            },
            error: function (e) {
                $('#modal_loading').modal('hide');
                $.growl.error({ title: "Error!", message: result.mes });
                $(btnClicked).removeAttr('disabled');

            },
            complete: function (e) {
                $(btnClicked).removeAttr('disabled');
                $('#modal_loading').modal('hide');
            }
        });
    }

    function SaveParam(pID)
    {
        var paramvalue = $('#PValue_' + pID).val();

        $.post("/Report/SaveParamvalue", { p: pID, v: paramvalue })
            .done(function (result) {
                if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: 'Something went wrong' });
                }
                else {
                    $.growl.notice({ message: "Đã lưu giá trị của " + $('#PName_' + pID).val() });
                }
        });
    }
</script>
