﻿@using VG.Common;
@{
    ViewBag.Title = "VoteTopicVN";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}
<div style="font-family: 'Times New Roman';position: relative;font-size:18px;">
    <div id="content" style="vertical-align:central;margin:auto;background-color:white;display:table;width:21cm;height:29.7cm;padding:40px 60px;">
        <div style="clear:both;line-height:20px;">
            <div style="text-align:center;">
                <br style="font-size:18px;line-height:22px;">
                    @Model.Event_Name<br />
                    @Model.PLName</br> 
                    Địa chỉ: @Session["LocationAddress"].ToString()
                </b>
                <hr style="width:20cm;margin:1px auto;" />
                <hr style="width:20cm;height:3px;background-color:black;margin:0px auto;" />
                <b style="font-size:25px;line-height:42px;">THẺ BIỂU QUYẾT</b>
            </div>
            <div style="display:block;clear:both;padding-top:15px;margin:0 20px;">
                <div style="display:table;width:100%">
                    <div style="float:left;width:500px;text-align:left;">
                        <p style="margin:6px 0px;">Họ và tên cổ đông: <b>@Model.StockholderName</b></p>
                        <div class="display:block;clear:both;">
                            <div style="width:130px;float:left;">
                                <img src="data:image/png;base64,@Model.StockHolderBarcodeCode64" style="margin: 0 auto" />
                                <h5 style="margin:0px;">@Model.StockHolderCode - @Model.StockHolderID</h5>
                                @*<h5 style="margin:0px;">@Model.StockHolderID</h5>*@
                            </div>
                            <div style="width:200px;float:left;">
                                Số cổ phần sở hữu<br />
                                <p style="font-size:20px;margin:6px 0px;"><b>@CommonHelper.GetDecimalFormart(Model.Quantity, "vn")</b></p>
                            </div>
                        </div>
                    </div>
                    <div style="float:right; width:220px;text-align:right;height:150px;">
                        <img style="margin-top:75px;" src="data:image/png;base64,@ViewBag.Agree" /><br />
                    </div>
                </div>
                <div style="display:table;width:100%;">
                    <div style="float:left;width:264px;"><b>CÁC NỘI DUNG BIỂU QUYẾT</b></div>
                    <div style="float:right;text-align:right;">Chọn Tán thành với tất cả các nội dung biểu quyết (tích vào đây) <input type="checkbox" /></div>
                </div>
                <div style="display:block;clear:both;">
                    <ol style="padding-left:0px;list-style-type:none;">

                        @foreach (var item in Model.VotingItems)
                        {
                            <li style="text-align:justify;border-top:1px solid black;display:table;width:100%;padding:10px 0px;">
                                <div style="float:left;width:70px;font-family:Arial;text-align:center;padding-top:58px;">
                                    <span style="font-size:60px;"><b>@item.SubjectNo</b></span>
                                </div>
                                <div style="float:left;width:683px;">
                                    <p style="margin:7px 0;font-weight:bold;">@item.Name</p>
                                    <ol style="font-weight:normal;overflow: auto;list-style-type: none;padding-left:0px;font-weight:normal">
                                        @foreach (var barcode in item.presentBarcodes)
                                        {
                                            <li style="float:left;text-align:center;width:225px;">
                                                <input type="checkbox" style="border:1px solid black" /> @barcode.Title<br />
                                                <img src="data:image/png;base64,@barcode.Barcode" />
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </li>
                        }
                    </ol>
                </div>
            </div>
            <div style="position:relative;clear:both;border-top:1px solid black;">
                <div style="float:right; width:350px;text-align:center;margin-top:30px;border:1px solid black;height:150px">
                    <p>
                        <b>
                            Phần chữ ký xác nhận của cổ đông<br />
                            (Hoặc người đại diện theo ủy quyền)
                        </b><br />
                        <i>(Ký, ghi rõ họ tên)</i>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

