﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section id="content">
    <div class="main padder">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="text-center m-b-large">
                    <h1 class="h text-white">404</h1>
                </div>
                <div class="list-group m-b-small">
                    <a href="/home" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        <i class="fa fa-fw fa-home"></i> Goto homepage
                    </a>
                    <a href="emailto:v.quanlm2@vingroup.net" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        <i class="fa fa-fw fa-question"></i> Send us a tip
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        <span class="badge">090-215-8384</span>
                        <i class="fa fa-fw fa-phone"></i> Call us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

