﻿@using VG.Common;
@{
    ViewBag.Title = "Kiểm tra thư mời";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- .breadcrumb -->
            <ul class="breadcrumb" style="margin-bottom:0px;">
                <li><a href="/mastereventlist?p=@CommonHelper.HashEncodeId(Model.PL_ID)"><i class="fa fa-home"></i>Danh sách đại hội</a></li>
                <li><a href="/EventDasboard/Dashboard?e=@Model.EventHashID">@Model.PLName - @Model.Event_Name</a></li>
                <li class="active">Kiểm tra thư mời cổ đông</li>
            </ul>
            <!-- / .breadcrumb -->
        </div>
    </div>

    <div class="main padder">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 m-t-large">
                <section class="panel">
                    <div class="panel-body">
                        <div class="block">
                            <label class="control-label">Quét barcode</label>
                            <div class="input-group">
                                <input type="text" class="input-lg form-control" placeholder="Scan barcode" value="" name="txtBarcode" id="txtBarcode" autocomplete="off" />
                                <span class="input-group-btn">
                                    <button class="btn btn-lg btn-white" type="button" onclick="valid()">Go!</button>
                                </span>
                            </div>
                        </div>
                        <div id="StokHolderInfo" class="hidden">
                            <div class="line line-dashed"></div>
                            <div class="well m-t" id="pnlConfirm">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <strong>Thông tin cổ đông</strong>
                                        <h4 id="stockholderName"></h4>
                                        <p>
                                            Số lượng cổ phần: <span id="stockholderCode" class="font-bold"></span>
                                        </p>
                                        <p>
                                            Ngày sinh: <span id="stockholderBirth"></span><br />
                                            Địa chỉ: <span id="stockholderAddress"></span><br />
                                            Số điệnt  thoại: <span id="stockholderPhone"></span>
                                        </p>
                                    </div>
                                    <div class="col-xs-4">
                                        <strong>Số CMT/HC</strong>
                                        <h4 id="stockholderCardID"></h4>
                                        <p>
                                            Ngày cấp: <span id="cardDate"></span>
                                        </p>
                                        <p>
                                            Địa chỉ: <span id="cardAddress"></span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12"><span id="infoNotic" class="label label-danger"></span></div>
                                </div>
                            </div>
                            <p class="text-muted text-center"><small>Xác nhận cổ đông</small></p>
                            <div class="block">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-white" onclick="ConfirmStockholder(1)" id="btncf1"><i class="fa fa-legal pull-left"></i> Cổ đông tham dự</a>
                                    <a class="btn btn-white" onclick="ConfirmStockholder(2)" id="btncf2"><i class="fa fa-eye pull-right"></i> Cổ đông ủy quyền</a>
                                </div>
                            </div>

                            <div class="row m-t-large hidden" id="printVote">
                                <div class="col-lg-12 text-center m-t-large">
                                    @if (Model.HasVotingCard)
                                    {

                                        <div class="btn-group m-r-large">
                                            <button class="btn btn-white dropdown-toggle" data-toggle="dropdown">Phiếu biểu quyết <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:return false;" onclick="printVote('vn');">Bản tiếng Việt</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:return false;" onclick="printVote('en');">Bản tiếng Anh</a></li>
                                            </ul>
                                        </div>
                                    }

                                    @if (Model.HasBSK)
                                    {
                                        <div class="btn-group m-r-large">
                                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Phiếu bầu BKS <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:return false;" onclick="printElection('vn', 1);">Bản tiếng Việt</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:return false;" onclick="printElection('vn', 1);">Bản tiếng Anh</a></li>
                                            </ul>
                                        </div>
                                    }

                                    @if (Model.HasHDQT)
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Phiếu bầu HDQT <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:return false;" onclick="printElection('vn', 2);">Bản tiếng Việt</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:return false;" onclick="printElection('en', 2);">Bản tiếng Anh</a></li>
                                            </ul>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="line line-dashed"></div>
                        <div class="row padder" id="pnlResult"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">In thêm phiếu biểu quyết</h4>
            </div>
            <div class="modal-body">
                <p>Cổ đông đã in Thẻ Biểu Quyết. Bạn muốn in lại?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="PrintMore()">Thực hiện</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="eventID" value="@Model.EventHashID" />
<input type="hidden" name="shID" id="shID" />
<script src="/js/hotkey/jquery.hotkeys.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("#btncf1,#btncf2").click(function() {
            $("#btncf1,#btncf2").removeClass('btn-success');
            $(this).toggleClass('btn-default btn-success');
        });

        $("#txtBarcode").focus().addClass('bg-focus');
        $('#txtBarcode').bind('keyup', 'return', function (event) {
            var _barcode = this.value;
            if (_barcode != '') {
                valid();
            }
            else
            {
                return false;
            }
        });

        $("#txtBarcode").on('focus', function () {
            if ($('#txtBarcode').val() == '') {
                $('#txtBarcode').removeClass('bg-focus').addClass('bg-focus');
                $('#pnlResult').hide();
                $('#StokHolderInfo').addClass('hidden');
                $('#printVote').addClass('hidden');
                $('#pnlConfirm').removeClass('bg-info').removeClass('bg-warning');
                $("#btncf1,#btncf2").removeClass('btn-success');
                $('#infoNotic').empty();
            }
        });
        $("#txtBarcode").on('focusout', function () {
            $('#txtBarcode').removeClass('bg-focus');
        });


        $(document).bind('keydown', 'Ctrl+q', function assets() {
            var txtBarcode = $("#txtBarcode");
            $(txtBarcode).val('');
            $(txtBarcode).focus();
            return false;
        });

        $('#txtBarcode').bind('keydown', 'Ctrl+q', function (event) {
            this.value = '';
            this.focus();
            return false;
        });

        $(document).bind('keydown', 'Ctrl+q', function (event) {
            $("#txtBarcode").value = '';
            $("#txtBarcode").focus();
            return false;
        });
    });

    function valid()
    {
        $('#pnlResult').empty();
        $('#StokHolderInfo').addClass('hidden');
        $('#pnlConfirm').removeClass('bg-info');
        uid = $("#txtBarcode").val();
        eid = '@Model.EventHashID';

        var sendInfo = {
            eID: eid,
            uID: uid
        };
        $.ajax({
            type: "POST",
            url: "/Validation/valicustomer",
            dataType: "json",
            success: function (result) {
                console.log(result);

                if (result.status == 1 || result.status == 5) {
                    console.log('OKIE');
                    $('#shID').val('').val($('#txtBarcode').val());
                    $('#stockholderName').empty().html(result.mes.FullName);
                    $('#stockholderCode').empty().html(result.mes.Quantity);
                    $('#stockholderBirth').empty().html(moment(result.mes.BirthDay).format('D/M/YYYY'));
                    $('#stockholderAddress').empty().html(result.mes.Address);
                    $('#stockholderPhone').empty().html(result.mes.Mobile);

                    $('#stockholderCardID').empty().html(result.mes.CardID);
                    $('#cardDate').empty().html(moment(result.mes.CardDate).format('D/M/YYYY'));
                    $('#cardAddress').empty().html(result.mes.CardAddress);

                    $('#StokHolderInfo').removeClass('hidden');
                    if (result.status == 5)
                    {
                        $('#pnlConfirm').addClass('bg-warning');
                        $('#infoNotic').empty().html('Cổ đông đã checkin với tư cách ' + result.attend);
                    }
                }
                else
                {
                    if (result.status == 0) {
                        $('#pnlResult').append('<div class="alert alert-warning alert-block"><h4><i class="fa fa-bell-o"></i>Warning!</h4><p>' + result.mes + '</p> </div >');
                        $('#pnlResult').show();
                    } else if (result.status == -1) {
                        $('#pnlResult').append('<div class="alert alert-danger alert-block"><h4><i class="fa fa-bell-o"></i>Warning!</h4><p>' + result.mes + '</p> </div >');
                    }
                    else {
                        $('#pnlResult').append('<div class="alert alert-danger alert-block"><h4><i class="fa fa-bell-o"></i>Warning!</h4><p>Có lỗi xẩy ra, liện hệ IT để xử lý</p> </div >');
                    }
                    $('#pnlResult').show();
                }
                $('#txtBarcode').val('');
            },
            data: sendInfo
        });
    }

    function ConfirmStockholder(st)
    {
        var uid = $("#shID").val();
        var eid = '@Model.EventHashID';

        var sendInfo = {
            eID: eid,
            uID: uid,
            status: st
        };

        $.ajax({
            type: "POST",
            url: "/Validation/confirmcustomer",
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.status == -3) {
                    $('#pnlResult').append('<div class="alert alert-danger alert-block"><h4><i class="fa fa-bell-o"></i>Warning!</h4><p>Có lỗi xẩy ra, liện hệ IT để xử lý</p> </div >');
                    $('#pnlResult').show();
                }
                else if (result.status == -5) {
                    $('#pnlResult').append('<div class="alert alert-danger alert-block"><h4><i class="fa fa-bell-o"></i>Warning!</h4><p>Cổ đông đã CheckIn!</p> </div >');
                    $('#pnlResult').show();
                }
                else if (result.status == 0 || result.status == -1) {
                    $('#pnlResult').append('<div class="alert alert-warning alert-block"><h4><i class="fa fa-bell-o"></i>Warning!</h4><p>' + result.mes + '</p> </div >');
                    $('#pnlResult').show();
                }
                else {
                    $('#pnlConfirm').addClass('bg-info');
                    $('#printVote').removeClass('hidden');
                }
            },
            data: sendInfo
        });
    }

    var _langselect;
    var _modeprintmore;
    function printVote(lang)
    {
        var uid = $("#shID").val();
        var eid = '@Model.EventHashID';
        _langselect = lang;

        var sendInfo = {
            eID: eid,
            uID: uid,
        };

        $.ajax({
            type: "POST",
            url: "/Report/checkPrinted",
            dataType: "json",
            success: function (result) {
                if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: result.mes });
                    return false;
                }
                else if (result.status == 0) {
                    _modeprintmore = 0;
                    $('#promptModal').find('.modal-title').text('In thêm phiếu biểu quyết');
                    $('#promptModal').find('.modal-body').html('<p>Cổ đông đã in Thẻ Biểu Quyết. Bạn muốn in lại?</p>');
                    $('#promptModal').modal('show');
                }
                else {
                    window.open('/Report/VoteTopic?eID=' + eid + '&uID=' + uid + '&lang='+lang);
                }
            },
            data: sendInfo
        });
    }

    function PrintMore()
    {
        $('#promptModal').modal('hide');

        var uid = $("#shID").val();
        var eid = '@Model.EventHashID';
        if (_modeprintmore == 0) {
            window.open('/Report/VoteTopic?eID=' + eid + '&uID=' + uid + '&lang=' + _langselect);
        }
        else if (_modeprintmore == 1)
        {
            window.open('/Report/ElectionBKS?eID=' + eid + '&uID=' + uid + '&lang=' + _langselect);
        }
        else if (_modeprintmore == 2) {
            window.open('/Report/ElectionBOD?eID=' + eid + '&uID=' + uid + '&lang=' + _langselect);
        }
    }


    function printElection(lang, type)
    {
        var uid = $("#shID").val();
        var eid = '@Model.EventHashID';
        _langselect = lang;

        var sendInfo = {
            eID: eid,
            uID: uid,
            type: type
        };

        $.ajax({
            type: "POST",
            url: "/Report/checkElectionPrinted",
            dataType: "json",
            success: function (result) {
                if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: result.mes });
                    return false;
                }
                else if (result.status == 0) {
                    _modeprintmore = type;
                    $('#promptModal').find('.modal-title').text('In thêm phiếu bầu cử');
                    $('#promptModal').find('.modal-body').html('<p>Cổ đông đã in Phiếu bầu cử. Bạn muốn in lại?</p>');
                    $('#promptModal').modal('show');
                }
                else {
                    if (type == 1) {
                        window.open('/Report/ElectionBKS?eID=' + eid + '&uID=' + uid + '&lang=' + lang);
                    } else
                    {
                        window.open('/Report/ElectionBOD?eID=' + eid + '&uID=' + uid + '&lang=' + lang);
                    }
                }
            },
            data: sendInfo
        });
    }
</script>
