﻿@using VG.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <section class="main padder">

        <div class="row">
            <div class="col-lg-12 m-t-large">
                <!-- .breadcrumb -->
                <ul class="breadcrumb" style="margin-bottom:0px;">
                    <li><a href="/mastereventlist?p=@CommonHelper.HashEncodeId(Model.PL_ID)"><i class="fa fa-home"></i>Danh sách đại hội</a></li>
                    <li><a href="/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(Model.Event_ID)">@Model.PLName - @Model.Event_Name</a></li>
                    <li class="active">@ViewBag.Breadcrumb</li>
                </ul>
                <!-- / .breadcrumb -->
            </div>
        </div>

        <div class="panel padder m-t-large">
            <div class="panel-body">
                <form method="post" data-validate="parsley" id="frmElectionSubmit" action="@Url.Action("ElectionSubmit", "Validation")">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Mã cổ đông <i class="fa fa-star-o text-danger text"></i></p>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="input-lg form-control required" placeholder="Scan barcode" value="" name="txtBarcode" id="txtBarcode" autocomplete="off" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-lg btn-white" type="button" id="btnGo" onclick="getStockholderInfo()">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>Họ và tên cổ đông: <b><span id="codong_fullname"></span></b></p>
                            <p>Mã số cổ đông: <b><span id="codong_code"></span></b></p>
                            <p>Số cổ phần: <b><span id="codong_quantity"></span></b></p>
                            <p>Số phiếu bầu: <b><span class="label bg-info" id="codong_totalquantity" style="font-size:14px;"></span></b></p>
                        </div>
                    </div>

                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th width="70"></th>
                                <th>Tên ứng viên</th>
                                <th>Số phiếu bầu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstCandidates)
                            {
                                <tr>
                                    <td>
                                        <h5>@item.GetOrder</h5>
                                    </td>
                                    <td>
                                        <h5>@item.FullName</h5>
                                    </td>
                                    <td>
                                        <input type="number" name="UV_@item.CandidateID" id="UV_@item.CandidateID" class="form-control required numberelection" data-required="true" value="" onchange="calSophieuDaBau();" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <section class="panel">
                        <div class="panel-body text-muted l-h-2x">
                            <span class="badge bg-success" id="lbl_sophieudabau"></span> <span class="m-r-small">Số phiếu đã bầu</span>
                            <span class="badge" id="lbl_sophieuconlai"></span> <span class="m-r-small">Số phiếu còn lại</span>
                        </div>
                    </section>

                    <div class="row">
                        <div class="col-lg-12" id="pnl_info_form_page">

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button id="btnSave" type="button" class="btn btn-primary" onclick="ElectionCount(this)">Lưu kết quả</button>

                                <button id="btnDivided" type="button" class="btn btn-warning m-l-large" onclick="ElectionDivided()">Chia đều</button>
                                <button id="btnInvalid" type="button" class="btn btn-danger" onclick="ElectionInvalid()">Không hợp lệ</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="EventID" name="EventID" value="@Model.EventHashID" />
                    <input type="hidden" id="ElectionType" name="ElectionType" value="@Model.ElectionType" />
                </form>
            </div>
        </div>
    </section>
</section>
<script src="/js/hotkey/jquery.hotkeys.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $.validator.messages.required = "Thông tin bắt buộc";

        $.validator.addMethod("regx", function (value, element, regexpr) {
            return regexpr.test(value);
        }, 'Không chấp nhận ký tự đặc biệt');

        $("#txtBarcode").focus();
        $('#txtBarcode').bind('keyup', 'return', function (event) {
            var _barcode = this.value;
            if (_barcode != '') {
                getStockholderInfo();
            }
            else {
                return false;
            }
        });

        $(document).bind('keydown', 'Ctrl+q', function (event) {
            window.location.href = '/Validation/ElectionCounting?eID=' + $("#EventID").val() + '&type=' + $("#ElectionType").val();
        });
        $('#txtBarcode').bind('keydown', 'Ctrl+q', function (event) {
            window.location.href = '/Validation/ElectionCounting?eID=' + $("#EventID").val() + '&type=' + $("#ElectionType").val();
        });
        $(document).bind('keydown', 'Ctrl+space', function (event) {
            $("#txtBarcode").focus(); return false;
        });
    });


    function getStockholderInfo()
    {
        $('#txtBarcode').attr('readonly', true);
        $('#btnGo').attr('disabled', 'disabled');

        var barvalue = $("#txtBarcode").val();
        var checkbarcode = {
            eID: $("#EventID").val(),
            uID: barvalue,
            type: $("#ElectionType").val()
        };

        $.ajax({
            type: "POST",
            url: "/Validation/customerinfo",
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.status == 1 || result.status == 2)
                {
                    $('#codong_fullname').text(result.mes.StockholderName);
                    $('#codong_code').text(result.mes.StockHolderCode + ' - ' + result.mes.StockHolderID);
                    $('#codong_quantity').text(result.mes.Quantity);
                    $('#codong_totalquantity').text(result.mes.TotalQuantity);

                    if (result.status == 2)
                    {
                        var r = confirm("Cổ đông này đã có kết quả bầu. Giữ lại kết quả cũ (YES) hay thay thế bằng kết của này (CANCEL)?");
                        if (r) {
                            window.location.href = '/Validation/ElectionCounting?eID=' + $("#EventID").val() + '&type=' + $("#ElectionType").val();
                        }
                    }
                }
                else {
                    $('#txtBarcode').attr('readonly', false);
                    $('#btnGo').removeAttr('disabled');

                    $.growl.error({ title: "Error", message: result.mes });
                }
            },
            data: checkbarcode
        });

    }

    function calSophieuDaBau()
    {
        var num_totalquantity = Number($('#codong_totalquantity').text());
        var num_sophieudabau = 0;

        $('.numberelection').each(function (i, v) {
            var temp;
            if ($.isNumeric($(this).val())) {
                temp = Number($(this).val());
            } else
            {
                temp = 0;
            }
            num_sophieudabau = num_sophieudabau + temp;
        });

        $('#lbl_sophieudabau').text(num_sophieudabau);

        var num_sophieuconlai = (num_totalquantity - num_sophieudabau);
        $('#lbl_sophieuconlai').text(num_sophieuconlai);
        if (num_sophieuconlai < 0) {
            $('#lbl_sophieuconlai').addClass('bg-danger');
            $('#pnl_info_form_page').html('<div class="alert alert-warning alert-block"> <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button><h4><i class="fa fa-bell-o"></i>Warning!</h4><p>Số phiếu bầu chia không hợp lệ</p></div>');
            $('#btnSave').attr('disabled', 'disabled');
            $('#btnDivided').attr('disabled', 'disabled');
        } else
        {
            $('#lbl_sophieuconlai').removeClass('bg-danger');
            $('#pnl_info_form_page').html('');
            $('#btnSave').removeAttr('disabled');
            $('#btnDivided').removeAttr('disabled');
        }
    }

    function ElectionCount(btnClicked)
    {
        var $form = $(btnClicked).parents('form');
        $form.validate().settings.ignore = ":disabled";
        $(btnClicked).attr('disabled', 'disabled');
        $('#modal_loading').modal('show');

        if (!$form.valid()) {
            $(btnClicked).removeAttr('disabled');
            $('#modal_loading').modal('hide');
            $.growl.error({ title: "Error!", message: "Cần nhập đủ thông tin yêu cầu", fixed: false, size: 'large' });
        } else {

            $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (result) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');

                        if (result.status == 0) {
                            $.each(result.litmess.listViewisValid, function (key, value) {
                                $.growl.error({ title: "Error", message: value });
                            });
                        }
                        else if (result.status == -1) {
                            $.growl.error({ title: "Error!", message: 'Something went wrong' });
                        }
                        else {
                            var _url = '/Validation/ElectionCounting?eID=' + $("#EventID").val() + '&type=' + $("#ElectionType").val();
                            $('#pnl_info_form_page').html('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button ><i class="fa fa-check fa-lg"></i> <strong>Well done!</strong> Lưu kết quả bầu cử thành công <a href="' + _url + '" class="btn btn-primary">Ctrl + Q</a></div>');
                        }
                    },
                    error: function (e) {
                        $('#modal_loading').modal('hide');
                        $.growl.error({ title: "Error!", message: result.mes });
                        $(btnClicked).removeAttr('disabled');

                    },
                    complete: function (e) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');
                    }
                });

        }
    }

    function ElectionDivided() {
        $('#modal_loading').modal('show');
        var checkbarcode = {
            EventID: $("#EventID").val(),
            txtBarcode: $("#txtBarcode").val(),
            ElectionType: $("#ElectionType").val()
        };

        $.ajax({
            type: "POST",
            url: "/Validation/ElectionDivided",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $('#modal_loading').modal('hide');

                if (result.status == 0) {
                    $.each(result.litmess.listViewisValid, function (key, value) {
                        $.growl.error({ title: "Error", message: value });
                    });
                }
                else if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: 'Something went wrong' });
                }
                else {
                    var _url = '/Validation/ElectionCounting?eID=' + $("#EventID").val() + '&type=' + $("#ElectionType").val();
                    $('#pnl_info_form_page').html('<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button ><i class="fa fa-check fa-lg"></i> <strong>Well done!</strong> Lưu kết quả chia đều thành công <a href="' + _url + '" class="btn btn-primary">Ctrl + Q</a></div>');
                }
            },
            data: checkbarcode
        });

    }

    function ElectionInvalid()
    {
        $('#modal_loading').modal('show');
        var checkbarcode = {
            EventID: $("#EventID").val(),
            txtBarcode: $("#txtBarcode").val(),
            ElectionType: $("#ElectionType").val()
        };

        $.ajax({
            type: "POST",
            url: "/Validation/ElectionInvalid",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $('#modal_loading').modal('hide');

                if (result.status == 0) {
                    $.each(result.litmess.listViewisValid, function (key, value) {
                        $.growl.error({ title: "Error", message: value });
                    });
                }
                else if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: 'Something went wrong' });
                }
                else {
                    var _url = '/Validation/ElectionCounting?eID=' + $("#EventID").val() + '&type=' + $("#ElectionType").val();
                    $('#pnl_info_form_page').html('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button ><i class="fa fa-check fa-lg"></i> <strong>Well done!</strong> Lưu kết quả phiếu không hợp lệ thành công <a href="' + _url + '" class="btn btn-primary">Ctrl + Q</a></div>');
                }
            },
            data: checkbarcode
        });
    }
</script>