﻿@using VG.Common;
@{
    ViewBag.Title = "Kiểm phiếu đại hội";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- .breadcrumb -->
            <ul class="breadcrumb" style="margin-bottom:0px;">
                <li><a href="/mastereventlist?p=@CommonHelper.HashEncodeId(Model.PL_ID)"><i class="fa fa-home"></i>Danh sách đại hội</a></li>
                <li><a href="/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(Model.Event_ID)">@ViewBag.PLName - @Model.Event_Name</a></li>
                <li class="active">Kiểm phiếu đại hội</li>
            </ul>
            <!-- / .breadcrumb -->
        </div>
    </div>

    <div class="main padder">
        <div class="row">
            @*<div class="col-lg-6 col-lg-offset-3 m-t-large">
            <section class="panel">
                <div class="panel-body">
                    <div class="block">
                        <label class="control-label">Quét barcode định danh cổ đông</label>
                        <div class="input-group">
                            <input type="text" class="input-lg form-control" placeholder="Scan barcode" value="" name="txtBarcode" id="txtBarcode">
                            <span class="input-group-btn">
                                <button class="btn btn-lg btn-white" type="button" id="btnGo" onclick="votecount()">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>*@
            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">
                        <div class="block">
                            @*<label class="control-label">Quét barcode định danh cổ đông</label>*@
                            <div class="input-group">
                                <input type="text" class="input-lg form-control" placeholder="Scan barcode" value="" name="txtBarcode" id="txtBarcode" autocomplete="off" />
                                <span class="input-group-btn">
                                    <button class="btn btn-lg btn-white" type="button" id="btnGo" onclick="votecount()">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">
                        <div class="block">
                            <h5>Họ tên cổ đông: <b>@ViewBag.StockholderName</b></h5>
                            <h5>Số cổ phần: <b>@ViewBag.Quantity</b></h5>
                        </div>
                    </div>
                </section>
            </div>
            </div>

            @if (Model.VotingItems != null && Model.VotingItems.Count > 0)
            {
                <div class="row" id="PanelResultDisplay">
                    <div class="col-lg-12 padder">

                        <div class="table-responsive">
                            <table class="table table-striped b-t">
                                <thead>
                                    <tr>
                                        <th width="30"></th>
                                        <th colspan="4"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VotingItems)
                                    {
                                        <tr>
                                            <td><h4 style="margin:0px;"><b>@item.SubjectNo</b></h4></td>
                                            <td colspan="4"><h4 style="margin:0px;">@item.Name</h4></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            @foreach (var barcode in item.presentBarcodes)
                                            {
                                                var hash = CommonHelper.HashEncodeId(barcode.BarcodeID);
                                                if (barcode.Title != "Không hợp lệ")
                                                {
                                                    <td>
                                                        <a id="bar_@barcode.BarcodeID" href="javascript:clickBarcode('@hash')" class="btn btn-white" tag="titcontrol">@barcode.Title</a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <img id="bar_@barcode.BarcodeID" src="data:image/png;base64,@barcode.Barcode" tag="titcontrol" onclick="clickBarcode('@hash')" />
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="padder">
                        <div class="col-lg-4">
                            <h4 class="text-warning">Không tán thành tất cả</h4>
                            <img src="data:image/png;base64,@ViewBag.DisagreeAll" onclick="clickBarcode('@ViewBag.DisagreeAllText')" />
                        </div>
                        <div class="col-lg-4">
                            <h4 class="text-active">Không có ý kiến tất cả</h4>
                            <img src="data:image/png;base64,@ViewBag.AbstainAll" onclick="clickBarcode('@ViewBag.AbstainAllText')" />
                        </div>
                        <div class="col-lg-4">
                            <h4 class="text-danger">Thẻ không hợp lệ</h4>
                            <img src="data:image/png;base64,@ViewBag.InvalidPerson" onclick="clickBarcode('@ViewBag.InvalidPersonText')" />
                        </div>
                    </div>
                </div>
            }


        </div>

    <input type="hidden" id="EventID" value="@Model.EventHashID" />
    <input type="hidden" id="Mode" value="@ViewBag.Mode" />
</section>

<script src="/js/hotkey/jquery.hotkeys.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("#txtBarcode").focus();
        $('#txtBarcode').bind('keyup', 'return', function (event) {
            var _barcode = this.value;
            if (_barcode != '') {
                votecount();
            }
            else {
                return false;
            }
        });

        $(document).bind('keydown', 'Ctrl+q', function (event) {
            window.location.href = '/Validation/VoteCounting?eID='+$("#EventID").val();
        });
        $('#txtBarcode').bind('keydown', 'Ctrl+q', function (event) {
            window.location.href = '/Validation/VoteCounting?eID='+$("#EventID").val();
        });
        $(document).bind('keydown', 'Ctrl+space', function (event) {
            $("#txtBarcode").focus();return false;
        });
    });

    function votecount() {
        $('#txtBarcode').attr('readonly', true);
        $('#btnGo').attr('disabled', 'disabled');

        if ($('#Mode').val() == '1')
        {
            //barcode check usser
            var barvalue = $("#txtBarcode").val();
            var checkbarcode = {
                eID: $("#EventID").val(),
                bID: barvalue
            };
            $.ajax({
                type: "POST",
                url: "/Validation/valivoting",
                dataType: "json",
                success: function (result)
                {
                    console.log(result);
                    if (result.status == 1) {
                        window.location.href = result.mes;
                    }
                    else {
                        $.growl.error({ title: "Error", message: result.mes });
                    }
                },
                data: checkbarcode
            });
        }
        else {
            barvalue = $("#txtBarcode").val();
            var sendInfo = {
                bID: barvalue
            };

            $.ajax({
                type: "POST",
                url: "/Validation/SubmitVote",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.status == 1) {
                        $('#txtBarcode').attr('readonly', false);
                        $('#btnGo').removeAttr('disabled');
                        $('#txtBarcode').val('');

                        $("[tag=titcontrol]").each(function () {
                            $(this).removeClass('bg-info');
                        });

                        $.each( result.mes, function( key, value ) {
                            var barcodeID = 'bar_' + value;
                            $('#' + barcodeID).addClass('bg-info');
                        });
                    }
                    else if (result.status == -1)
                    {
                        window.location.href = '/Validation/VoteCounting?eID='+$("#EventID").val();
                    }
                    else {
                        $.growl.error({ title: "Error", message: result.mes });
                    }
                },
                data: sendInfo
            });
        }
    }

    function clickBarcode(barcodeHash)
    {
        var sendInfo = {
            bID: barcodeHash
        };

        $.ajax({
            type: "POST",
            url: "/Validation/SubmitVote",
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.status == 1) {
                    $('#txtBarcode').attr('readonly', false);
                    $('#btnGo').removeAttr('disabled');
                    $('#txtBarcode').val('');

                    $("[tag=titcontrol]").each(function () {
                        $(this).removeClass('bg-info');
                    });

                    $.each(result.mes, function (key, value) {
                        var barcodeID = 'bar_' + value;
                        $('#' + barcodeID).addClass('bg-info');
                    });
                }
                else if (result.status == -1) {
                    window.location.href = '/Validation/VoteCounting?eID=' + $("#EventID").val();
                }
                else {
                    $.growl.error({ title: "Error", message: result.mes });
                }
            },
            data: sendInfo
        });
    }
</script>
