﻿@using VG.Common;
@{
    ViewBag.Title = "MasterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content" class="content-sidebar bg-white">
    <!-- .sidebar -->
    <aside class="sidebar sidebar-large">
        <div class="padder header-bar bg clearfix">
            <h3 class="m-b">Danh sách công ty</h3>
        </div>
        <div class="list-group list-normal m-t-n-xmini" style="max-height:500px" id="pnlstPL">
            @foreach (var item in Model.listPL)
            {
                string clactive = (item.PL_ID == Model.SeletedPL.PL_ID) ? "active" : "";
                <a class="list-group-item @Html.Raw(clactive)" href="/mastereventlist?p=@CommonHelper.HashEncodeId(item.PL_ID)">
                    @{
                        string cls = (item.PL_Status == 1) ? "text-success" : "text-muted";
                    }
                    <small class="pull-right @Html.Raw(cls)"><i class="fa fa-circle"></i></small>
                    <strong>@item.PL_DisplayName</strong>
                    <br><small>@item.PL_Name</small>
                </a>
            }
        </div>
    </aside>
    <!-- /.sidebar -->
    <!-- .main -->
    <section class="main">
        <div class="bg-primary clearfix padder m-b">
            <div class="pull-left">
                <h3 class="m-b" id="lblActionType" style="margin:5px 0px;">Các kỳ đại hội cổ đông : @Model.SeletedPL.PL_DisplayName</h3>
                <p>@Model.SeletedPL.PL_Name</p>
            </div>
            <div class="btn-group m-t pull-right">
                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#modal_StockholderEvent"><i class="fa fa-plus"></i> Tạo sự kiện</button>
            </div>
        </div>

        <div class="row padder">
            <div class="col-lg-12">
                @foreach (var item in Model.listEventByPL)
                {
                    string clactive = (item.Status == 1) ? "locked" : "";
                    <div class="panel padder @Html.Raw(clactive)" id="event_@CommonHelper.HashEncodeId(item.Event_ID)">
                        <div class="block clearfix">
                            <a href="/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(item.Event_ID)" class="h4 inline">@item.Event_Name</a>
                            <div class="pull-right inline" style="margin-top:10px;">
                                @VnDateConvert.ConvertDateTime05(item.Created_Date)
                                <div class="btn-group">
                                    <a href="/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(item.Event_ID)" class="btn btn-white btn-xs" data-toggle="tooltip" data-title="Trang sự kiện"><i class="fa fa-reply"></i></a>
                                    <a class="btn btn-white btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/EventDasboard/Dashboard?e=@CommonHelper.HashEncodeId(item.Event_ID)"><i class="fa fa-reply"></i> Trang sự kiện</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/EventConfig/EConfig?eID=@CommonHelper.HashEncodeId(item.Event_ID)">Danh sách cổ đông</a></li>
                                        @if (item.Status == 1)
                                        {
                                            <li><a href="javascript:UpdateEvent('@CommonHelper.HashEncodeId(item.Event_ID)',2)">Public sự kiện</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="javascript:UpdateEvent('@CommonHelper.HashEncodeId(item.Event_ID)',1)">Khóa sự kiện</a></li>
                                        }
                                        <li class="divider"></li>
                                        <li><a href="javascript:UpdateEvent('@CommonHelper.HashEncodeId(item.Event_ID)',0)">Xóa sự kiện</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block clearfix">
                            <h5 class="pull-left inline">Năm: @item.Event_Year - Địa điểm: @item.Location</h5>
                            <div class="pull-right inline"><span class="label bg-info">từ @String.Format("{0:dd/MM/yyyy}", item.FromDate)</span> đến <span class="label bg-success">từ @String.Format("{0:dd/MM/yyyy}", item.ToDate)</span></div>
                        </div>
                        <div class="block clearfix">
                            <blockquote class="text-small">
                                <em>
                                    @item.Note
                                </em>
                            </blockquote>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="padder">
            <div class="panel text-small">
                <div class="panel-body"> @Model.SeletedPL.PL_DisplayName đang có @Model.listEventByPL.Count sự kiện</div>
            </div>
        </div>
    </section>
    <!-- /.main -->
</section>

<div class="modal" id="modal_StockholderEvent" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <form method="post" data-validate="parsley" id="personalAction" action="@Url.Action("SubmitEvent", "StockholderEvent")">
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Thêm sự kiện Đại hội cổ đông : @Model.SeletedPL.PL_DisplayName</h4>
                </div>
                <div class="modal-body panel-body">
                    <input type="hidden" id="hPLID" name="hPLID" value="@CommonHelper.HashEncodeId(Model.SeletedPL.PL_ID)" />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <p>Tổng số lượng cổ phiếu <i class="fa fa-star-o text-danger text"></i></p>
                                <input type="text" name="NumlStock" id="NumlStock" class="form-control required" data-required="true">
                            </div>
                            <div class="line line-dashed"></div>
                            <div class="form-group m-b-mini">
                                <p>Tên sự kiện <i class="fa fa-star-o text-danger text"></i></p>
                                <input type="text" name="Event_Name" id="Event_Name" class="form-control required" data-required="true">
                            </div>
                            <div class="form-group">
                                <p>Tên sự kiện Eng<i class="fa fa-star-o text-danger text"></i></p>
                                <input type="text" name="Event_Name_En" id="Event_Name_En" class="form-control required" data-required="true">
                            </div>

                            <div class="form-group">
                                <p>Năm sự kiện <i class="fa fa-star-o text-danger text"></i></p>
                                <select tabindex="1" id="Event_Year" name="Event_Year" class="year form-control">
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option selected>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                </select>
                            </div>

                            <div class="form-group m-b-mini">
                                <p>Địa chỉ tổ chức <i class="fa fa-star-o text-danger text"></i></p>
                                <input type="text" name="Location" id="Location" class="form-control required" data-required="true">
                            </div>
                            <div class="form-group">
                                <p>Địa chỉ tổ chức Eng<i class="fa fa-star-o text-danger text"></i></p>
                                <input type="text" name="Location_En" id="Location_En" class="form-control required" data-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <p>Từ ngày <i class="fa fa-star-o text-danger text"></i></p>
                                <input id="FromDate" name="FromDate" class="input-sm form-control datepicker required" size="16" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <p>Đến ngày <i class="fa fa-star-o text-danger text"></i></p>
                                <input id="ToDate" name="ToDate" class="input-sm form-control datepicker required" size="16" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <p>Ghi chú</p>
                                <textarea id="Note" name="Note" placeholder="Ghi chú" rows="3" class="form-control" data-trigger="keyup" data-rangelength="[1,10]"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary modal-action" onclick="DoAction(this)">Thêm sự kiện</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Xóa sự kiện</h4>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn thực hiện hành động này?</p>
                <input type="hidden" id="hEv" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Remove()">Thực hiện</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $.validator.messages.required = "Thông tin bắt buộc";

        $.validator.addMethod("regx", function (value, element, regexpr) {
            return regexpr.test(value);
        }, 'Không chấp nhận ký tự đặc biệt');

        $("#personalAction").validate({
            rules: {
                Event_Name: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                Location: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                Event_Name_En: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                Location_En: {
                    required: true,
                    regx: /[^`~!@@#$%\\^{}'"]+$/
                },
                FromDate: {
                    regx: /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/
                },
                ToDate: {
                    regx: /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/
                },
                NumlStock: {
                    required: true,
                    number: true
                }
            },
            messages: {
                Event_Name: {
                    required: "Thông tin bắt buộc",
                    email: "Không chấp nhận ký tự đặc biệt"
                },
                Location: {
                    required: "Thông tin bắt buộc",
                    regx: "Không chấp nhận ký tự đặc biệt"
                },
                Event_Name_En: {
                    required: "Thông tin bắt buộc",
                    email: "Không chấp nhận ký tự đặc biệt"
                },
                Location_En: {
                    required: "Thông tin bắt buộc",
                    regx: "Không chấp nhận ký tự đặc biệt"
                },
                FromDate: {
                    regx: "Không đúng định dạng"
                },
                ToDate: {
                    regx: "Không đúng định dạng"
                },
                NumlStock: {
                    required: "Thông tin bắt buộc",
                    number: "Nhập số"
                }
            }
        });

    });

    function DoAction(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $form.validate().settings.ignore = ":disabled";
        $(btnClicked).attr('disabled', 'disabled');
        $('#modal_loading').modal('show');

        if (!$form.valid()) {
            $(btnClicked).removeAttr('disabled');
            $('#modal_loading').modal('hide');
            $.growl.error({ title: "Error!", message: "Cần nhập đủ thông tin yêu cầu", fixed: false, size: 'large' });
        } else {

            var startDate = moment($("#FromDate").val(), "dd/mm/yyyy");
            var endDate = moment($("#ToDate").val(), "dd/mm/yyyy");

            if (startDate.isAfter(endDate)) {
                $.growl.error({ title: "Error!", message: "Ngày kết thúc cần lớn hơn ngày bắt đầu", fixed: false, size: 'large' });
                $('#modal_loading').modal('hide');
                $(btnClicked).removeAttr('disabled');
                return;
            }
            else {
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (result) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');

                        if (result.status == 0) {
                            $.each(result.litmess.listViewisValid, function (key, value) {
                                $.growl.error({ title: "Error", message: value });
                            });
                        }
                        else if (result.status == -1) {
                            $.growl.error({ title: "Error!", message: 'Something went wrong' });
                        }
                        else {
                            window.location.href = "/mastereventlist?p=@CommonHelper.HashEncodeId(Model.SeletedPL.PL_ID)";
                        }
                    },
                    error: function (e) {
                        $('#modal_loading').modal('hide');
                        $.growl.error({ title: "Error!", message: result.mes });
                        $(btnClicked).removeAttr('disabled');

                    },
                    complete: function (e) {
                        $(btnClicked).removeAttr('disabled');
                        $('#modal_loading').modal('hide');
                    }
                });
            }
        }
    }

    function UpdateEvent(ev, st)
    {
        console.log(st);
        if (st === 0) {
            $('#promptModal').modal('show');
            $('#hEv').val(ev);
        }
        else
        {
            ActionUpdateEvent(ev, st);
        }
    }
    function Remove()
    {
        ActionUpdateEvent($('#hEv').val(), 0);
    }
    function ActionUpdateEvent(ev, st)
    {
        $('#modal_loading').modal('show');
        $.post("/StockholderEvent/ActionEvent", { p: ev, s: st })
            .done(function (result) {
                $('#modal_loading').modal('hide');

                if (result.status == 0) {
                    $.growl.error({ title: "Error!", message: result.mes });
                }
                else if (result.status == -1) {
                    $.growl.error({ title: "Error!", message: 'Something went wrong' });
                }
                else {
                    window.location.href = "/mastereventlist?p=@CommonHelper.HashEncodeId(Model.SeletedPL.PL_ID)";
                }
        });
    }
</script>